/*=================
Header Styles 
===================*/

.haeder-default {
    transition: all 0.4s;
    padding: 15px 0;

    &.header-transparent {
        position: absolute;
        left: 0;
        right: 0;
        width: auto;
        z-index: 99;
        padding: 40px 0 0;

        @media #{$md-layout} {
            padding: 20px 0 0;
        }

        @media #{$sm-layout} {
            padding: 20px 0 0;
        }
    }

    &.sticky {
        position: fixed !important;
        top: 0;
        background: rgba(255, 255, 255, 1);
        background-color: rgba(255, 255, 255, 1);
        padding: 0;
        left: 0;
        right: 0;
        z-index: 99;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
        animation: headerSlideDown .95s ease forwards;

        .header-wrapper {
            padding: 5px 0;
        }
    }

    .logo {
        a {
            color: #000248;
            font-size: 25px;
            font-weight: 700;
            svg {
                width: 100%;
            }
        }
    }

    .mainmenu-wrapepr {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .container,
    .header-right {
        position: static;
    }
}

/*----------------------
Header Style Four  
--------------------------*/
.header-style-4 {
    .mainmenu-wrapepr {
        .mainmenu-nav {
            flex-basis: 83%;
            @media #{$lg-layout} {
                flex-basis: 77%;
            }
            ul {
                &.mainmenu {
                    justify-content: flex-end;
                }
            }
        }
        .ax-header-button {
            flex-basis: 17%;
            text-align: right;
            @media #{$laptop-device} {
                flex-basis: 20%;
                margin-left: 20px;
            }
            @media #{$lg-layout} {
                flex-basis: 23%;
            }
            @media #{$md-layout} {
                flex-basis: inherit;
            }
            @media #{$sm-layout} {
                flex-basis: inherit;
            }
        }
    }
}



.header-style-2 {
    &.plr--100 {
        @media #{$laptop-device} {
            padding: 0 48px;
        }
    }
}

/*----------------------
    Logo Animation  
-----------------------*/
circle#icon-oval-sm,
circle#icon-oval-lg,
circle.icon-oval-sm,
circle.icon-oval-lg {
    transition: all 0.3s;
}

#logo:hover circle#icon-oval-sm,
.logo:hover circle.icon-oval-sm {
    transform: perspective(10px) translate3d(12.5px, -7.5px, 0) scale(0.8)
}

#logo:hover circle#icon-oval-lg,
.logo:hover circle.icon-oval-lg {
    transform: translate3d(-4px, 0, 10px) scale(1.3);
}

ul.mainmenu li.has-dropdown:hover ul.axil-submenu ul.axil-submenu ul.axil-submenu {
    left: auto;
    right: 100%;
    top: 0;
}
.haeder-default.sticky .header-wrapper .axil-menuToggle {
    background-color: rgba(0,0,0,0.05);
}
.haeder-default.sticky .header-wrapper .axil-menuToggle {
    background: #000248;
}
.haeder-default.sticky .header-wrapper .axil-menuToggle span {
    background: #fff;
}

.logo a img {
    max-width: 270px;
}
.popup-mobile-manu .logo img { 
    max-width: 245px; 
}

@media #{$sm-layout} {
    .logo a img {
        max-width: 194px;
    }
}

@media only screen and (max-width: 600px) {
    body.admin-bar.header-sticky-now .popup-mobile-manu,
    body.admin-bar.header-sticky-now .side-nav {
        top: 0;
    }
}





