/*=====================
Navigation Styles 
=======================*/
ul {
    &.mainmenu {
        display: flex;
        align-items: center;
        @extend %liststyle;
        margin: 0 -20px;
        flex-wrap: wrap;

        @media #{$laptop-device} {
            margin: 0 -16px;
        }
        @media #{$lg-layout} {
            margin: 0 -15px;
        }
        > li {
            
            &:hover {
                > a {
                    color: var(--color-primary);
                }
            }
            &.current_page_item,
            &.is-active {
                > a {
                    color: var(--color-primary) !important;
                }
            }
            
        }

        li {
            margin: 0;
            position: relative;
            a {
                @extend %heading-color;
                font-size: 16px;
                line-height: 22px;
                @extend %fontWeight700;
                text-decoration: none;
                padding: 24px 12px;
                @media #{$lg-layout} {
                    font-size: 14px;
                }
            }
            ul {
                &.axil-submenu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    min-width: 250px;
                    background: #ffffff;
                    padding: 10px 0px;
                    list-style: none;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.4s;
                    z-index: -2;
                    transform: translateX(0) translateY(40px);
                    box-shadow: 0 40px 50px 0 rgba(0,0,0,0.05);
                    ul {
                        &.axil-submenu{
                            left: 100%;
                            top: 0;
                        }
                    }
                    li {
                        margin: 0;
                        transition: 0.3s;
                        a {
                            font-size: 16px;
                            line-height: 23px;
                            display: block;
                            margin: 0;
                            border-bottom: 1px solid rgba(246,245,250,1);
                            padding: 10px 0px;
                            margin: 0 30px;
                            color: #131A55;
                            position: relative;
                            &:hover {
                                color: var(--color-primary);
                            }
                        }
                        &.current_page_item,
                        &.is-active {
                            > a {
                                color: var(--color-primary) !important;
                            }
                        }
                        &:hover {
                            background: #F6F5FA;
                        }
                        &.menu-item-has-children {
                            &.has-dropdown {
                                > a {
                                    &::after {
                                        content: "\f105";
                                        font-family: "Font Awesome 5 Pro";
                                        right: 0;
                                        position: absolute;
                                        font-weight: 400;
                                        top: 50%;
                                        transform: translateY(-50%);
                                    }
                                }
                            }
                        }
                        
                        &:last-child {
                            a {
                                border-bottom: 0;
                            }
                        }
                        &.is-active {
                           
                            a {
                                
                            }
                        }
                    }
                }
            }

            &.has-dropdown {
                > a {
                    position: relative;
                    padding: 24px 36px 24px 12px;
                    @media #{$lg-layout} {
                        padding: 24px 26px 24px 14px;
                    }
                    &::after {
                        position: absolute;
                        content: "\f107";
                        font-family: "Font Awesome 5 Pro";
                        right: 19px;
                        top: 50%;
                        transform: translateY(-50%);
                        font-weight: 400;
                        @media #{$lg-layout} {
                            right: 7px;
                        }
                    }
                }
                
                &:hover {
                    > a {
                        color: var(--color-primary);
                    }
                    > ul {
                        &.axil-submenu {
                            opacity: 1;
                            visibility: visible;
                            z-index: 9999;
                            transform: translateX(0) translateY(0);
                            
                        }
                    }
                }

                &.active {
                    ul {
                        &.axil-submenu {
                            &.visible {
                                opacity: 1;
                                visibility: visible;
                                transform: scale(1);
                            }
                        }
                    }
                }
            }
        }

        > li {
            > a {
                display: block;
                padding: 24px 20px;
                @media #{$laptop-device} {
                    padding: 24px 16px;
                }
                @media #{$lg-layout} {
                    padding: 24px 10px;
                }
            }
        }
    }
}


