/*----------------------
    Sidebar Nav 
-----------------------*/
.side-nav-opened {
    position: relative;
    overflow: hidden;
    padding-right: 17px;
    body {
        position: relative;
        z-index: 1;
        &::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            z-index: 99;
            transition: all 0.5s;
        }
    }
}
.close-sidenav {
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.close-sidenav {
    button {
        &.close-button{
            padding: 0;
            border: 0 none;
            i {
                font-size: 30px;
                color: #fff;
                @extend %transition;
            }
            &:hover {
                i {
                    color: var(--color-primary);
                }
            }
        }
    }
}
/*--------------------------
    Side Nav Styles 
 ---------------------------*/

.side-nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100vw;
    z-index: 9999;
    padding: 60px 130px;
    background: #090312;
    transition: all .8s cubic-bezier(0.77,0.2,0.05,1.0);
    overflow-y: auto;
    
    @media #{$sm-layout} {
        padding: 55px 30px 30px;
    }
    @media #{$large-mobile} {
        width: 90vw;
        right: -90vw;

    }
    .logo {
        a {
            color: #000248;
            font-size: 25px;
            font-weight: 700;
            img {
                height: auto;
                max-height: 60px;
            }
        }
    }
    &.opened {
        right: 0;
    }
    .side-nav-inner {
        padding: 100px 50px;
        @media #{$lg-layout} {
            padding: 40px 0px;
        }
        @media #{$md-layout} {
            padding: 28px 0;
        }
        @media #{$sm-layout} {
            padding: 28px 0;
        }
        // Form Group 
        .form-group {
            position: relative;
            margin-bottom: 80px;
            @media #{$md-layout} {
                margin-bottom: 40px;
            }
            @media #{$sm-layout} {
                margin-bottom: 40px;
            }
            input {
                border-bottom: 2px solid $border-color;
                height: auto;
                font-size: 40px;
                color: $dark-color;
                padding-bottom: 10px;
                padding-right: 53px;
                @media #{$lg-layout} {
                    font-size: 35px;
                }
                @media #{$md-layout} {
                    font-size: 30px;
                }
                @media #{$sm-layout} {
                    font-size: 30px;
                }

            }
            button {
                &.side-nav-search-btn{
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 0 none;
                    i {
                        color: $dark-color;
                        font-size: 20px;
                        font-weight: 400;
                        @extend %transition;
                    }
                    &:hover {
                        i {
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }

        // Side Nav Content 
        .side-nav-content {
            margin-top: 30px;
            padding-left: 130px;
            
            @media #{$laptop-device} {
                padding-left: 0;
            }

            @media #{$lg-layout} {
                padding-left: 20px;
            }
            ul {
                &.main-navigation {
                    @extend %liststyle;
                    margin: -45px 0;
                    @media #{$md-layout} {
                        margin: -30px 0;
                        margin-bottom: 30px;
                    }
                    @media #{$sm-layout} {
                        margin: -17px 0;
                        margin-bottom: 30px;
                    }
                    @media #{$lg-layout} {
                        margin-top: -18px;
                    }
                    li {
                        margin: 45px 0;
                        @media #{$lg-layout} {
                            margin: 10px 0;
                        }
                        @media #{$md-layout} {
                            margin: 10px 0;
                        }
                        @media #{$sm-layout} {
                            margin: 17px 0;
                        }
                        a {
                            color: #fff;
                            font-size: 42px;
                            font-weight: 700;
                            text-decoration: none;
                            line-height: 42px;
                            padding-right: 26px;
                            transition: 0.3s;
                            position: relative;

                            @media #{$lg-layout} {
                                font-size: 20px;
                            }
                            @media #{$md-layout} {
                                font-size: 20px;
                            }
                            @media #{$sm-layout} {
                                font-size: 20px;
                            }
                            &::before {
                                position: absolute;
                                background: var(--color-primary);
                                width: 20px;
                                height: 2px;
                                content: "";
                                left: -40px;
                                top: 50%;
                                transform: translateY(-50%);
                                opacity: 0;
                                transition: 0.3s;
                            }

                            

                            &:hover {
                                color: var(--color-primary);
                            }
                        }

                        &.menu-item-has-children {
                            > a {
                                position: relative;
                                display: inline-block;
                                &::after {
                                    position: absolute;
                                    content: "";
                                    right: 0;
                                    content: "\f107";
                                    font-family: 'Font Awesome 5 Pro';
                                    font-weight: 400;
                                    color: #5E5E7A;
                                    font-size: 20px;
                                    transition: 0.3s all;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                                &.active {
                                    &::after {
                                        content: "\f106";
                                    }
                                }
                               
                                &:hover {
                                    &::after {
                                        color: var(--color-primary);
                                    }
                                }
                            }

                            &.current_page_item ,
                            &.current_page_ancestor {
                                > a {
                                    color: var(--color-primary) !important;
                                    position: relative;
                                    &::before {
                                        opacity: 1;
                                    }
                                    &::after {
                                        color: var(--color-primary) !important;
                                    }
                                }
                            }
                            .sub-menu {
                                display: none;
                                padding: 0;
                                margin: 0;
                                list-style: none;
                                margin-bottom: 0;
                                padding-left: 10px;
                                padding-top: 43px;

                                @media #{$lg-layout} {
                                    padding-top: 0px;
                                }
                                @media #{$md-layout} {
                                    padding-top: 0;
                                }

                                li {
                                    margin: 0;
                                    padding: 10px;
                                    padding-top: 0;
                                    padding-bottom: 0;
                                    a {
                                        color: #75758B;
                                        font-size: 20px;
                                        font-weight: 500;
                                        line-height: 26px;
                                        display: inline-block;
                                        transition: 0.3s;
                                        padding-top: 10px;
                                        padding-bottom: 10px;

                                        @media #{$lg-layout} {
                                            font-size: 16px;
                                        }
                                        @media #{$md-layout} {
                                            font-size: 16px;
                                        }
                                        &::after {
                                            color: #75758B;
                                        }
                                        &:hover {
                                            color: var(--color-primary);
                                            &::after {
                                                color: var(--color-primary);
                                            }
                                        }
                                    }
                                }

                                .sub-menu {
                                    padding-top: 0;
                                }
                            }
                        }

                        &.current_page_item ,
                        &.current_page_ancestor {
                            > a {
                                color: var(--color-primary) !important;
                                &::before {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            
            // Contact Info Inner 
            .axil-contact-info-inner {
                height: 100%;
                display: flex;
                align-items: flex-end;
                h5 ,
                span {
                    &.title {
                        font-size: 18px;
                        line-height: 22px;
                        color: #FFFFFF;
                        font-weight: 700;
                        display: block;
                        margin-bottom: 15px;
                    }
                }
                .axil-contact-info {
                    p {
                        font-size: 18px;
                        line-height: 28px;
                        color: #75758B;
                        padding-right: 32%;
                    }
                    .address {
                        margin-bottom: 0;
                        p {
                            margin-bottom: 4px;
                            i {
                                padding-right: 14px;
                                font-size: 14px;
                                color: #75758B;
                                @media #{$laptop-device} {
                                    padding-right: 8px;
                                }
                            }
                            a {
                                color: #75758B;
                                text-decoration: none;
                                font-size: 18px;
                                line-height: 18px;
                                display: inline-block;
                                transition: 0.3s;
                                &:hover {
                                    color: var(--color-primary);
                                }
                            }
                        }
                        & + .address {
                            margin-top: 25px;
                        }
                    }
                    & + .axil-contact-info {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    ul {
        &.social-share {
            padding-right: 70px;
            @media #{$lg-layout} {
                padding-right: 20px;
            }
            li {
                a {
                    i {
                        font-size: 18px;
                        color: #75758B;
                    }
                }
            }
        }
    }

}

.side-nav-content {
    .main-navigation {
        li {
           
        }
    }
} 


/*-----------------------
    Menu Toggler 
-------------------------*/
.axil-menuToggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: 0.3s;
    @media #{$sm-layout} {
        width: 50px;
        height: 50px;
    }
    span {
        display: flex;
        width: 20px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: $heading-color;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
        &:last-child {
            width: 11px;
            right: -3px;
            position: relative;
            margin-bottom: 0;
        }
    }

    &.popup-navigation-activation {
        background: #000248;
        span {
            background: #ffffff;
        }
    }
}









