/*-----------------------
    Accordion Styles 
-------------------------*/

.axil-accordion {
    .card {
        border: 0 none;
        border-bottom: 1px solid #F6F5FA;
        border-radius: 0;

        .card-header {
            padding: 20px 0px;
            margin-bottom: 0;
            background-color: transparent;
            border-bottom: 0;
            @media #{$sm-layout} {
                padding: 10px 0px;
            }
            &:first-child {
                border-radius: 0;
            }
            .btn {
                &.btn-link {
                    padding: 0;
                    font-size: 22px;
                    line-height: 26px;
                    border-radius: 0;
                    text-decoration: none;
                    font-weight: 700;
                    color: var(--color-primary);
                    @extend %transition;
                    outline: none;
                    border: 0 none;
                    @extend .axil-bg-color-option;
                    
                    @media #{$sm-layout} {
                        font-size: 18px;
                    }
                    span {
                        @media #{$sm-layout} {
                            padding-right: 0;
                        }
                    }
                    i {
                        padding-right: 14px;
                    }

                    &.collapsed {
                        color: #52526C;
                    }
                }
            }
        }
        .card-body {
            padding: 0 0 25px;
            @extend .axil-bg-color-option;
        }
        .collapse {
            position: relative;
            &::after {
                position: absolute;
                content: "";
                left: 0;
                height: 3px;
                background: var(--color-primary);
                width: 100%;
                z-index: 2;
                bottom: -1px;
                opacity: 1;
            }

            &.show {
                opacity: 1;
            }
        }
    }
}




/*-----------------------------
Accourdion Style Two  
-------------------------------*/
.axil-accordion--2 {
    .card {
        border-radius: 0;
        border: 1px solid #C7C7D5;
        position: relative;
        z-index: 2;
        transition: 0.4s;
        &::before {
            width: 92%;
            height: 92%;
            left: -20px;
            bottom: -20px;
            background: rgba(0, 2, 72, 0.1);
            content: "";
            position: absolute;
            z-index: -1;
            transform-style: preserve-3d;
            filter: blur(50px);
            transform: perspective(500px) rotateY(-5deg);
            transition: 0.4s;
            opacity: 0;
        }
        &::after {
            background: #ffffff;
            position: absolute;
            content: "";
            top: -6%;
            bottom: 0;
            left: -49px;
            right: 0;
            width: calc(100% + 4px);
            height: 112%;
            z-index: -1;
            transform: perspective(700px) rotateY(-11deg);
            transition: 0.4s;
            opacity: 0;
            @media #{$lg-layout} {
                left: 0;
                right: 0;
                width: 100%;
                transform: none;
            }
            @media #{$md-layout} {
                left: 0;
                right: 0;
                width: 100%;
                transform: none;
            }
            @media #{$sm-layout} {
                left: 0;
                right: 0;
                width: 100%;
                transform: none;
            }
        }
        &.card-active {
            border: 0 none;
            margin: 45px 0 !important;
            @media #{$sm-layout} {
                margin: 20px 0 !important;
            }
            &:last-child {
                margin-bottom: 0 !important;
                @media #{$sm-layout} {
                    margin-bottom: 0 !important;
                }
            }
            &::before ,
            &::after {
                opacity: 1;
            }
        }

        .card-header {
            padding: 0;
            margin-bottom: 0;
            background-color: transparent;
            border-bottom: 0;

            &:first-child {
                border-radius: 0;
            }
            .btn {
                &.btn-link {
                    padding: 0;
                    font-size: 22px;
                    line-height: 26px;
                    border-radius: 0;
                    text-decoration: none;
                    font-weight: 700;
                    color: var(--color-primary);
                    @extend %transition;
                    outline: none;
                    border: 0 none;
                    padding: 20px 35px;
                    position: relative;
                    @media #{$sm-layout} {
                        font-size: 19px;
                        line-height: 26px;
                        padding: 15px 14px;
                        padding-right: 29px;
                    }
                    &::after {
                        top: 50%;
                        right: 24px;
                        width: 40px;
                        height: 40px;
                        color: #fff;
                        text-align: center;
                        line-height: 40px;
                        transform: translateY(-50%);
                        content: "";
                        transition: all 0.4s;
                        display: inline-block;
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0px 7px 7px 7px;
                        border-color: transparent transparent var(--color-primary);
                        @media #{$sm-layout} {
                            right: 14px;
                        }
                    }
                    &.collapsed {
                        color: $heading-color;

                        &::after {
                            border-width: 7px 7px 0px 7px;
                            border-color: $heading-color transparent transparent;
                        }
                    }
                }
            }
        }
        .card-body {
            padding: 0 35px;
            padding-bottom: 20px;
            color: #757589;
            font-size: 18px;
            line-height: 30px;
            @media #{$sm-layout} {
                padding: 0 14px;
                padding-bottom: 20px;
                font-size: 16px;
                line-height: 26px;
            }
        }
        .collapse {
            position: relative;
        }
        & + .card {
            margin-top: 30px;
        }
    }
}