/*---------------------
    Axil Blog Styles 
----------------------*/

.axil-blog {
    position: relative; 
    min-height: 450px;
    @media #{$md-layout} {
        display: flex;
        flex-direction: column-reverse;
    }
    @media #{$sm-layout} {
        display: flex;
        flex-direction: column-reverse;
    }
    .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 360px;
        @media #{$md-layout} {
            position: static;
            top: auto;
            transform: inherit;
            width: 100%;
        }
        @media #{$sm-layout} {
            position: static;
            top: auto;
            transform: inherit;
            width: 100%;
        }
        .content-wrap {
            padding: 40px 30px;
            transition: 0.4s;
            position: relative;
            @media #{$sm-layout} {
                padding: 25px 20px;
            }
            &::after{
                background: #ffffff;
                position: absolute;
                content: "";
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                transition: 0.4s;
                box-shadow: 0 0 1px transparent;
                transform: perspective(0) rotateY(0);
            }
            &::before{
                width: 92%;
                height: 92%;
                left: -20px;
                bottom: -20px;
                background:  rgba(0, 2, 72, 0.1);
                content: "";
                position: absolute;
                transform-style: preserve-3d;
                transform: rotateY(-10deg);
                filter: blur(50px);
                opacity: 1;
                transition: 0.4s;

            }
        }
        .inner {
            position: relative;
            z-index: 2;
            span {
                &.category {
                    display: inline-block;
                    height: 26px;
                    font-size: 15px;
                    color: #F6F5FA;
                    padding: 0 10px;
                    line-height: 26px;
                    margin-bottom: 20px;
                    position: relative;
                    z-index: 1;
                    &::before {
                        position: absolute;
                        content: "";
                        background: #5BCC9F;
                        left: 0px;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                    }
                    @media #{$sm-layout} {
                        margin-bottom: 15px;
                    }
                }
            }
            .title {
                margin-bottom: 20px;
                @extend .axil-bg-color-option;
                @media #{$md-layout} {
                    margin-bottom: 12px;
                }
                @media #{$sm-layout} {
                    margin-bottom: 8px;
                }
                a{
                    text-decoration: none;
                }
            }
        }
        
    }
    .thumbnail {
        text-align: right;
        .image {
            img {
                width: 410px;

                @media #{$md-layout} {
                    width: 100%;
                }
                @media #{$sm-layout} {
                    width: 100%;
                }
            }
        }
    }
    &.active  {
        .content {
            .content-wrap {
                &::after {
                    transform: perspective(300px) rotateY(-5deg);
                    @media #{$md-layout} {
                        transform: none;
                    }
                    @media #{$sm-layout} {
                        transform: none;
                    }
                }
            }
        }
    }
    &:hover {
        .content {
            .inner {
                h5 {
                    &.title {
                        a {
                            color: var(--color-primary);
                        }
                    }
                }
            }
            
        } 
    }
}
