/*----------------------
    Blog List Styles 
------------------------*/
.axil-blog-list {
    word-break: break-word;
    .blog-top {
        .title {
            margin-bottom: 20px;
            @media #{$sm-layout} {
                margin-bottom: 10px;
            }
            a {
                text-decoration: none;
            }
        }

        blockquote {
            border-left: 0;
            background: transparent;
            padding: 0;
            margin: 0;
        }
        .author{
            display: flex;
            align-items: flex-start;
            margin-bottom: 40px;

            @media #{$sm-layout} {
                margin-bottom: 20px;
            }

            @media #{$large-mobile} {
                margin-bottom: 12px;
            }
            @media #{$large-mobile} {
                display: block;
            }
            .author-thumb{
                img{
                    max-height: 50px;
                    margin-right: 20px;
                    @media #{$large-mobile} {
                        margin-right: 0;
                        margin-bottom: 15px;
                    }
                }
            }
            img {
                max-height: 50px;
                margin-right: 20px;
                @media #{$large-mobile} {
                    margin-right: 0;
                    margin-bottom: 15px;
                }   
            }
            .info {
                h6 {
                    margin-bottom: 4px;
                }
                ul {
                    &.blog-meta {
                        @extend %liststyle;
                        display: flex;
                        margin: 0 -10px;
                        flex-wrap: wrap;
                        li {
                            margin: 0 10px;
                            font-size: 15px;
                            line-height: 24px; 
                            position: relative;
                        }
                    }
                }
            }
        }
    }

    
    .thumbnail {
        margin-bottom: 20px;
        display: inline-block;
    }

    .content {
        p {
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 40px;
            @media #{$sm-layout} {
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 26px;
            }
            &:empty {
                display: none;
            }

        }
        
    }

    &.format-image{
        .thumbnail {
            margin-bottom: 40px;
        }
    }

    &.sticky-blog {
        background: #F6F5FA;
        padding: 60px 40px;
        position: relative;
        z-index: 1;
        @media #{$sm-layout} {
            padding: 40px 20px;
        }
        .blog-top {
            .title {
                margin-bottom: 15px;
            }
        }
        ul {
            &.blog-meta {
                display: flex;
                margin: 0 -10px;
                li {
                    margin: 0 10px;
                    font-size: 15px;
                    line-height: 24px;
                }
            }
        }
        .sticky {
            position: absolute;
            right: 40px;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
            @media #{$sm-layout} {
                right: 20px;
                top: 22%;
            }
            i {
                color: var(--color-primary);
                font-size: 65px;
                font-weight: 400;
                transform: rotate(-90deg);
                @media #{$sm-layout} {
                    font-size: 41px;
                }
            }
        }
        .shape-group {
            .shape {
                position: absolute;
                bottom: 0;
                &.shape-1{
                    left: 66%;
                }
                &.shape-2 {
                    left: 46%;
                }
            }
        }
    }

    &.quote-blog {
        background: #F6F5FA;
        padding: 60px 40px;
        position: relative;
        z-index: 2;
        @media #{$sm-layout} {
            padding: 40px 20px;
        }
        blockquote {
            padding-right: 11%;
            @media #{$sm-layout} {
                padding-right: 5%;
            }
        }
        .blog-top {
            .author {
                margin-bottom: 0;
            }
        }
        .shape-group {
            .shape {
                position: absolute;
                bottom: 0;
                &.shape-1{
                    left: 66%;
                }
                &.shape-2 {
                    left: 46%;
                }
                &.shape-3 {
                    right: 40px;
                    z-index: 1;
                    top: 65px;
                    @media #{$sm-layout} {
                        right: 30px;
                        z-index: -1;
                        top: 8px;
                    }
                    svg {
                        @media #{$lg-layout} {
                            width: 42px;
                        }
                        @media #{$md-layout} {
                            width: 42px;
                        }
                        @media #{$sm-layout} {
                            width: 32px;
                        }
                    }
                }
            }
        } 
    }

    // Gallery Post 
    &.gallery-post {
        .thumbnail {
            &.axil-carousel ,
            &.axil-gallery-post {
                display: block;
                position: relative;
                .slick-slide{
                    display: block;
                    position: relative;
                }
            }
        } 
    }

    // Sticky Post 
    &.sticky  {
        background: #F6F5FA;
        padding: 45px 40px;
        position: relative;
        border-top: 5px solid var(--color-primary);
        position: relative;
        overflow: hidden;
        z-index: 1;
        
        .blog-top {
            position: relative;
            padding-right: 10%;
            &::after {
                content: "\f02e";
                position: absolute;
                right: 0;
                top: 0;
                font-family: "Font Awesome 5 Pro";
                font-weight: 400;
                font-size: 65px;
                color: var(--color-primary);
                @media #{$lg-layout} {
                    font-size: 30px;
                }
                @media #{$md-layout} {
                    font-size: 30px;
                }
                @media #{$sm-layout} {
                    font-size: 30px;
                }
            }
        }

        &::before {
            position: absolute;
            background-image: url(../images/shape/round-shape.svg);
            background-repeat: no-repeat;
            content: "";
            width: 237px;
            height: 134px;
            right: 5%;
            bottom: -35px;
            z-index: 1;
        }

        &::after {
            position: absolute;
            // background-image: url(../images/shape/sticky-shape.svg);
            background-repeat: no-repeat;
            content: "";
            width: 237px;
            height: 134px;
            right: 21%;
            bottom: -8px;
            z-index: -1;
        }

        @media #{$sm-layout} {
            padding: 40px 20px;
        }
    }

    // Audio Post 
    audio {
        display: block;
        width: 100%;
        height: 46px;
        border-radius: 0;
        outline: none;
        margin-bottom: 13px;
    }

    &:first-child {
        margin-top: 0 !important;
    }
}

.axil-single-widget .small-post .thumbnail img {
    object-fit: cover;
}



/* -----------------------
New Code For Resubmit 
--------------------------*/

.widget_rss .title .rss-widget-icon {
    margin-top: -4px;
    width: 16px;
}







