/*------------------------
    Brand Styles 
-------------------------*/

.axil-brand-logo-wrapper {
    padding-left: 88px;
    padding-right: 86px;
    @media #{$sm-layout} {
        padding-left: 0;
        padding-right: 0;
    }
    @media #{$md-layout} {
        padding-left: 0;
        padding-right: 0;
    }
}

.brand-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

    &::before{
        position: absolute;
        content: "";
        background: #C7C7D6;
        width: 100%;
        height: 1px;
        top: 50%;
        @media #{$sm-layout} {
            display: none;
        }
    }
    li {
        flex-basis: 33.33%;
        margin: 0;
        
        @media #{$large-mobile} {
            flex-basis: 50%;
        }
        
        @media #{$small-mobile} {
            flex-basis: 33.33%;
        }

        a {
            display: block;
            border-right: 1px solid #C7C7D6;
            text-align: center;
            height: 200px;
            line-height: 200px;
            @extend %transition;
            @media #{$md-layout} {
                height: 150px;
                line-height: 150px;
            }
            @media #{$sm-layout} {
                height: 68px;
                line-height: 60px;
            }
            @media #{$large-mobile} {
                border: 0 none;
                height: 68px;
                line-height: 60px;
            }
            img {
                @extend %transition;
                @media #{$large-mobile} {
                    max-height: 30px;
                    height: auto;
                }
            }
            &:hover {
                img {
                    transform: scale(1.2);
                }   
            }
        }
        &:nth-child(3) {
            a {
                border-color: transparent;
            }
        }
        &:last-child {
            a {
                border-color: transparent;
            }
        }
    }
}

.bg-color-white .brand-list li a {
    border-right: 1px solid #F6F5FA;
}
.bg-color-white .brand-list::before {
    background: #F6F5FA;
}
.bg-color-white .brand-list li:nth-child(3) a {
    border-color: transparent;
}
.bg-color-white .brand-list li:last-child a {
    border-color: transparent;
}
.client-list.slick-initialized .slick-slide {
    margin-bottom: 0;
}
.bg-gray-color .bg-color-white .brand-list li a {
    border-right: 1px solid #C7C7D6;
}
.bg-gray-color .bg-color-white .brand-list::before {
    background: #C7C7D6;
}
.bg-gray-color .bg-color-white .brand-list li:nth-child(3) a {
    border-color: transparent;
}
.bg-gray-color .bg-color-white .brand-list li:last-child a {
    border-color: transparent;
}


/*-------------------------
Client List  
--------------------------*/
ul {
    &.client-list {
        li {
            margin-top: 0;
            margin-bottom: 0;
            outline: none;
            a {
                img {
                    max-height: 40px;
                    @media #{$sm-layout} {
                        width: auto;
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}


.bg-shape-image-position {
    position: relative;
    z-index: 2;
    .bg-shape-image {
        position: absolute;
        bottom: 3%;
        z-index: -1;
        left: 50%;
        width: 107%;
        transform: translateX(-50%);
        img {
            width: 100%;
        }
        @media #{$laptop-device} {
            width: 123%;
            bottom: 22%;
        }
        @media #{$lg-layout} {
            bottom: 68%;
        }
        @media #{$md-layout} {
            bottom: 82%;
        }
        @media #{$sm-layout} {
            bottom: 85%;
        }
        @media #{$large-mobile} {
            bottom: 98%;
            width: 117%;
        }
    }
}
.axil-client-style-two {
    .axil-brand-logo-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}
.axil-client-style-one ul.client-list li a img {
    max-height: 30px;
}
@media #{$sm-layout}{
    .bg-color-white .brand-list li a {
        border-right: 0 none;
    }
}


/* Creative agency Logo  */
.axil-client-area {
    &.axil-bg-oval {
        .section-title {
            @media #{$sm-layout} {
                margin-bottom: 22px;
            }
        }
    }
}


@media #{$sm-layout} {
    .bg-gray-color .bg-color-white .brand-list li a {
        border-right: 1px solid transparent;
    }
}

