/*-----------------------
Axil Case Study 
-------------------------*/

.axil-working-process {
    &:last-child {
        margin-bottom: 0 !important;
    }
}


.axil-case-study {
    margin-top: 60px;
    position: relative;
    @media #{$md-layout} {
        margin-top: 30px;
    }
    @media #{$sm-layout} {
        background: #ffffff;
        margin-top: 30px;
    }
    &.theme-gradient-5{
        background: -webkit-linear-gradient(315.26deg, #D6FFFC 0%, #FAE7E4 100%);
        background: -o-linear-gradient(315.26deg, #D6FFFC 0%, #FAE7E4 100%);
        background: linear-gradient(134.74deg, #D6FFFC 0%, #FAE7E4 100%);
    }
    .thumbnail {
        a {
            display: block;
            img {
                width: 100%;
            }
        }
    }
    .content {
        position: absolute;
        top: 0;
        left: 0;
        padding: 50px;
        width: 64%;
        @media #{$lg-layout} {
            padding: 20px;
            width: 80%;
        }
        @media #{$md-layout} {
            padding: 20px;
            width: 100%;
        }
        @media #{$sm-layout} {
            position: static;
            padding: 20px 10px;
            width: 100%;
        }
        .inner {
            span {
                &.category {
                    color: #737387;
                    font-size: 20px;
                    line-height: 32px;
                    display: inline-block;
                    margin-bottom: 10px;
                    @media #{$lg-layout} {
                        font-size: 18px;
                        line-height: 22px;
                        margin-bottom: 5px;
                    }
                    @media #{$md-layout} {
                        font-size: 18px;
                        line-height: 22px;
                        margin-bottom: 5px;
                    }
                    @media #{$sm-layout} {
                        font-size: 14px;
                        line-height: 20px;
                        margin-bottom: 5px;
                    }
                }
            }
            h4 {
                &.title {
                    @media #{$sm-layout} {
                        margin-bottom: 0;
                        font-size: 18px;
                    }
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &.with-mokup-images {
        padding-top: 50px;
        padding-bottom: 200px;
        margin-bottom: 40px;
        position: relative;
        z-index: 2;
        @media #{$sm-layout} {
            margin-bottom: 12px;
        }
        @media #{$large-mobile} {
            padding-top: 40px;
            padding-bottom: 98px;
        }
        .content {
            position: static;
            padding-bottom: 0;
            .inner {
                width: 60%;
                position: relative;
                z-index: 2;
                @media #{$large-mobile} {
                    width: 100%;
                } 
                h4 {
                    &.title {
                        font-size: 35px;
                        font-weight: 700;
                        line-height: 46px;

                        @media #{$sm-layout} {
                            font-size: 18px;
                            line-height: 24px;
                            padding-right: 23%;
                        }

                        @media #{$large-mobile} {
                            padding-right: 30%;
                        }

                        @media #{$small-mobile} {
                            padding-right: 42%;
                        }
                    }
                }
            }
        }
        .mockup {
            position: absolute;
            right: 0;
            top: -17%;
            z-index: 1;

            @media #{$lg-layout} {
                top: -14%;
                width: 48%;
            } 

            @media #{$md-layout} {
                top: 8%;
                width: 50%;
            } 

            @media #{$sm-layout} {
                top: 8%;
                width: 50%;
            } 

            @media #{$large-mobile} {
                top: 50%;
                transform: translateY(-50%);
            }

            img {
                @media #{$lg-layout} {
                    width: 100%;
                } 
                @media #{$md-layout} {
                    width: 100%;
                } 
                @media #{$sm-layout} {
                    width: 100%;
                } 
            } 
        }
    }

    .project-featured-brand {
        position: absolute;
        bottom: 50px;
        left: 50px;
        @media #{$sm-layout} {
            left: 20px;
        }
    }

}
.will-change-area {
    position: relative;
    .image-1 { 
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}

.case-study-style-two {
    .axil-featured {
        .inner {
            padding-left: 26px;
            @media #{$md-layout} {
                padding-left: 0;
            }
            @media #{$sm-layout} {
                padding-left: 0;
            }
        }
    }
}


.case-study-style-two .axil-featured .inner .axil-counterup-area.separator-line-vertical{
    margin-bottom: 0;
}