/*=======================
Contact Form Style 
=========================*/

.axil-contact-form {
    &.contact-form-style-1 {
        padding: 50px;
        position: relative;
        max-width: 490px;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        padding-left: 60px;
        z-index: 50;
        > div {
            z-index: 99;
            position: relative;
            &.shape-group {
                z-index: inherit;
                position: static;
            }
        }
        @media #{$lg-layout} {
            padding: 30px 35px;
        }
        @media #{$sm-layout} {
            padding: 25px 20px;
            padding-left: 20px;
            max-width: inherit;
            padding-bottom: 20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        &::after {
            background: #ffffff;
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            -webkit-transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;
            -webkit-transform: rotateY(-10deg);
            transform-style: preserve-3d;
            transform: rotateY(-10deg);
            @media #{$sm-layout} {
                transform: none;
            }
        }
        &::before {
            width: 92%;
            height: 92%;
            left: -20px;
            bottom: -20px;
            background:  rgba(0, 2, 72, 0.1);
            content: "";
            position: absolute;
            transform-style: preserve-3d;
            filter: blur(50px);
        }

        .callto-action-wrapper {
            margin-top: -30px;
            @media #{$sm-layout} {
                margin-top: -20px;
            }
            span {
                &.text{
                    font-size: 15px;
                    line-height: 24px;  
                    display: inline-block;
                    padding-right: 10px;
                    
                }
                i { 
                    font-size: 22px;
                    font-weight: 400;
                    color: #000248;
                    line-height: 26px;
                    padding-right: 4px;
                }
                a {
                    font-size: 22px; 
                    font-weight: 700;
                    color: #000248;
                    line-height: 26px;
                    text-decoration: none;
                    @extend %transition;
                    @media #{$sm-layout} {
                        font-size: 14px;
                    }

                    &:hover{
                        color: var(--color-primary);
                    }
                }
            }
        }
        .shape-group {
            @media #{$lg-layout} {
                display: none;
            }
            .shape {
                position: absolute;
                right: -193px;
                top: 50%;
                z-index: -1;
                @media #{$lg-layout} {
                    right: -151px;
                }
                @media #{$sm-layout} {
                    display: none;
                }
                &.shape-01 {
                    right: -64px;
                    top: 26%;
                }
            }
        }
    }
}

.contact-form-style-2 {
    position: relative;
    z-index: 2;
    .inner {
        padding: 70px 50px;
        @media #{$md-layout} {
            padding: 30px;
        }
        @media #{$sm-layout} {
            padding: 30px 20px;
        }
    }
    &::after {
        background: #ffffff;
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transform: perspective(700px) rotateY(-2deg);
        margin-left: -7px;
        @media #{$lg-layout} {
            margin-left: 0;
        }
        @media #{$md-layout} {
            transform: none;
            margin-left: 0;
        }
        @media #{$sm-layout} {
            transform: none;
            margin-left: 0;
        }
    }
    &::before {
        width: 92%;
        height: 92%;
        left: -20px;
        bottom: -20px;
        background:  rgba(0, 2, 72, 0.1);
        content: "";
        position: absolute;
        z-index: -1;
        transform-style: preserve-3d;
        transform: rotateY(-10deg);
        filter: blur(50px);
        @media #{$sm-layout} {
            transform: none;
        }
    }

}

.axil-contact-area {
    &.axil-shape-position {
        position: relative;
        z-index: 2;
        .shape-group{
            @media #{$sm-layout} {
                display: none;
            }
            .shape {
                position: absolute;
                z-index: -1;
                &.shape-01 {
                    left: 43%;
                    top: 50%;
                    z-index: 1;
                }
                &.shape-02 {
                    left: 40%;
                    top: 50%;
                    z-index: 1;
                }
                &.shape-03 {
                    left: 30%;
                    top: 46%;
                    span {
                        &.icon {
                            font-size: 430px;
                        }
                    }
                }
            }
        }
    }
}

.contact-form-style-2{
    .form-group {
        textarea {
            max-height: 165px;
        }
    }
}
/* Form Group  */
.form-group {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
    @media #{$sm-layout} {
        margin-bottom: 20px;
    }
    label {
        position: absolute;
        left: 0;
        width: 100%;
        top: 9px;
        color: #757589;
        transition: 0.3s;
        z-index: -1;
        letter-spacing: 0.5px;
        font-size: 18px;
        line-height: 28px;
    }
    
    input {
        border: 0;
        border-bottom: 2px solid #C7C7D5;
        background-color: transparent;
        padding-bottom: 8px;
        padding-top: 8px;
        padding-left: 0;
    }
    input[type="submit"] {
        border: 2px solid #000248;
        background: #ffffff;
        color: #000248;
        font-size: 16px;
        font-weight: 700;
        height: 46px;
        line-height: 44px;
        padding: 0;
        text-transform: capitalize;
        @extend %transition;
        &:hover {
            background: #000248;
            color: #ffffff;
        }
    }
    textarea {
        border: 0;
        min-height: 165px;
        padding-bottom: 8px;
        padding-top: 8px;
        border-bottom: 2px solid #C7C7D5;
        background-color: transparent;
        resize: none;
    }
    span {
        &.focus-border {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: var(--color-primary);
            transition: 0.4s;
        }
    }
    &.focused {
        label {
            top: -10px;
            font-size: 12px;
            color: var(--color-primary);
            transition: 0.3s;
        }
        span {
            &.focus-border {
                width: 100%;
                transition: 0.4s;
            }
        }
    }
}




/*--------------------------
    Axil Address Area  
----------------------------*/
.axil-address {
    padding: 50px 50px;
    position: relative;
    position: relative;
    z-index: 2;
    max-width: 450px;
    @media #{$sm-layout} {
        padding: 30px 26px;
    }
    &::after {
        background: #ffffff;
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        -webkit-transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        -webkit-transform: rotateY(-10deg);
        transform-style: preserve-3d;
        transform: rotateY(-10deg);
    }
    &::before {
        width: 92%;
        height: 92%;
        left: -20px;
        bottom: -20px;
        background: rgba(0,2,72,0.1);
        content: "";
        position: absolute;
        z-index: 1;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: rotateY(-10deg);
        transform: rotateY(-10deg);
        -webkit-filter: blur(50px);
        filter: blur(50px);
    }
    .inner {
        position: relative;
        z-index: 2;
        .icon {
            margin-bottom: 18px;
            @media #{$sm-layout} {
                margin-bottom: 15px;
            }
            i {
                color: $heading-color;
                font-size: 36px;
                font-weight: 400;
            }
        }
        .content {
            .title {
                font-size: 26px;
                font-weight: 700;
                line-height: 32px;
                margin-bottom: 20px;
                @extend .axil-bg-color-option;
                @media #{$sm-layout} {
                    margin-bottom: 8px;
                }
            }
            p {
                @extend .axil-bg-color-option;
                a {
                    color: var(--color-primary);
                    font-weight: 700;
                    font-size: 22px;
                    text-decoration: none;
                    
                }
                & + p {
                    margin-top: 20px;
                    @media #{$sm-layout} {
                        margin-top: 6px;
                    }
                }
            }
        }
    }
}


/*-------------------------
Axil Office Location  
---------------------------*/


.axil-office-location{
    .thumbnail{
        margin-bottom: 30px;
        img{
            width: 100%;
        }
    }
    .content{
        h4 {
            &.title {
                margin-bottom: 15px;
            }
        }
        p {
            margin-bottom: 20px;
        }
    }
}



/*------------------
Form Message 
---------------------*/
p {
    &.form-messege {
        &.error {
            margin-top: 20px;
            color: #f10;
        }
        &.success {
            color: green;
            margin-top: 20px;
            opacity: 0.8;
        }
    }
}

div.wpcf7-mail-sent-ok {
    border: 0 none;
    color: #398f14;
    padding: 0;
    text-align: center;
}





