/*--------------------------
    Pricing Table Styles 
----------------------------*/
.pricing-layout-2 {
    .axil-pricing-table-area {
        &.pricing-shape-position {
            position: relative;
            z-index: 1;
            .shape-group {
                position: absolute;
                left: -60px;
                bottom: 25px;
                z-index: -1;
                
                @media #{$laptop-device} {
                    display: none;
                }
                @media #{$sm-layout} {
                    display: none;
                }
                @media #{$md-layout} {
                    display: none;
                }
            }
        }
    }
}

.axil-pricing-table-area {
    &.pricing-shape-position {
        position: relative;
        z-index: 1;
        .shape-group {
            position: absolute;
            left: -53px;
            bottom: 270px;
            z-index: -1;
            span {
                &.icon {
                    &::before {
                        color: var(--color-extra08);
                    }
                }
            }
            @media #{$laptop-device} {
                display: none;
            }
            @media #{$sm-layout} {
                display: none;
            }
            @media #{$md-layout} {
                display: none;
            }
        }
    }
}
.axil-pricing-table-area .row--0 > [class*=col] {
    margin-right: -30px;
}
/* Start Pricing Table Style  */
.axil-pricing-table {
    position: relative;
    z-index: 2;
    padding: 0 47px;
    @media #{$lg-layout} {
        padding: 0 30px;
    }
    @media #{$md-layout} {
        padding: 0 30px;
    }
    @media #{$sm-layout} {
        padding: 0 15px;
    }

    .axil-pricing-inner {
        padding: 40px;
        background: $white-color;
        margin: 0 auto;
        position: relative;
        @media #{$lg-layout} {
            padding: 40px 20px;
        }
        @media #{$md-layout} {
            padding: 30px 20px;
        }
        @media #{$sm-layout} {
            padding: 30px 33px;
        }
    }
    .pricing-header {
        border-bottom: 1px solid #C7C7D5;
        padding-bottom: 13px;
        h4 {
            margin-bottom: 10px;
            @extend .axil-bg-color-option;
        }
        p {
            font-size: 15px;
            line-height: 24px;
            margin-bottom: 30px;
            @extend .axil-bg-color-option;

            @media #{$lg-layout} {
                margin-bottom: 20px;
            }
            @media #{$md-layout} {
                margin-bottom: 20px;
            }
            @media #{$sm-layout} {
                margin-bottom: 20px;
            }
        }
        .price-wrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 38px;
            align-items: flex-end;
            @media #{$lg-layout} {
                margin-bottom: 28px;
            }
            @media #{$md-layout} {
                flex-wrap: wrap;
                margin-bottom: 28px;
            }
            @media #{$sm-layout} {
                flex-wrap: wrap;
                margin-bottom: 28px;
            }
            .price {
                display: flex;
                align-items: flex-end;
                h2 {
                    color: var(--color-secondary);
                    font-size: 50px;
                    line-height: 41px;
                    font-weight: 700;
                    margin-bottom: 0;
                    @extend .axil-bg-color-option;
                    @media #{$lg-layout} {
                        font-size: 40px;
                        line-height: 40px;
                    }
                    @media #{$md-layout} {
                        font-size: 40px;
                        line-height: 40px;
                    }
                    @media #{$sm-layout} {
                        font-size: 40px;
                        line-height: 40px;
                    }
                }
                span {
                    color: #757589;
                    font-size: 15px;
                    line-height: 24px;
                    @extend .axil-bg-color-option;
                    padding-left: 10px;
                    &::before {
                        content: "/";
                    }
                }
            }
            .date-option {
                select {
                    color: #757589;
                    font-size: 15px;
                    line-height: 24px;
                    border: 0 none;
                    border-bottom: 1px solid $border-color;
                    padding: 0;
                    margin: 0;
                    height: auto;
                }
            }
        }
        .pricing-get-button {
            margin-bottom: 20px;
            a {
                &.axil-button {
                    width: 100%;
                    text-align: center;
                    @media #{$md-layout} {
                        padding: 0 10px;
                    }
                    @media #{$sm-layout} {
                        padding: 0 10px;
                    }
                    span {
                        &.button-text {
                            @media #{$md-layout} {
                                padding-right: 10px;
                            }

                            @media #{$sm-layout} {
                                padding-right: 10px;
                            }
                        }
                    }

                }
            }
        }
        span {
            &.subtitle {
                font-size: 15px;
                line-height: 24px;
                display: block;
                text-align: center;
                @extend .axil-bg-color-option;
            }
        }
    }
    .pricing-body {
        margin-top: 20px;
        .inner {
            ul {
                &.list-style {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        color: #737387;
                        font-size: 20px;
                        line-height: 50px;
                        position: relative;
                        padding-left: 35px;
                        z-index: 1;
                        @media #{$lg-layout} {
                            font-size: 15px;
                            line-height: 25px;
                        }
                        @media #{$md-layout} {
                            font-size: 15px;
                            line-height: 25px;
                        }
                        @media #{$sm-layout} {
                            font-size: 16px;
                            line-height: 25px;
                        }
                        &::after {
                            position: absolute;
                            color: var(--color-secondary);
                            font-family: "Font Awesome 5 Pro";
                            font-size: 18px;
                            line-height: 18px;
                            content: "\f00c";
                            font-weight: 400;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        &::before {
                            position: absolute;
                            content: "";
                            background: transparent;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 100%;
                            z-index: -1;
                        }
                    }
                }
            }
        }
    }
    &.active {
        background: transparent;
        padding-left: 48px;
        @media #{$sm-layout} {
            padding-left: 15px;
        }
        .axil-pricing-inner {
            position: relative;
            z-index: 2;
            background: transparent;
            &::before {
                width: 92%;
                height: 92%;
                left: -20px;
                bottom: -20px;
                background:  rgba(0, 2, 72, 0.1);
                content: "";
                position: absolute;
                z-index: -1;
                transform-style: preserve-3d;
                filter: blur(50px);
                transform: perspective(500px) rotateY(-5deg);
            }
            &::after {
                background: #ffffff;
                position: absolute;
                content: "";
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                transform: perspective(700px) rotateY(-5deg);
                box-shadow: 0 0 1px transparent;
                @media #{$sm-layout} {
                    transform: perspective(0px) rotateY(0deg);
                }
            }
        }
        &::before {
            transform: perspective(500px) rotateY(-4deg);
            position: absolute;
            width: calc(100% + -100px);
            height: calc(100% + -4px);
            top: calc(25px + -1px);
            content: "";
            border: 3px solid #000345;
            z-index: -1;
            right: calc(25px - -47px);
            box-shadow: 0 0 1px transparent;

            @media #{$sm-layout} {
                display: none;
            }
            @media #{$large-mobile} {
                display: none;
            }
        }
        a {
            &.axil-button {
                color: #FFFFFF;
                &::before{
                    border: 2px solid var(--color-primary);
                }
                &::after {
                    border-color: var(--color-primary);
                }
                &::after{
                    background-color: var(--color-primary);
                    opacity: 1;
                    -webkit-transform: scale(1, 1);
                    -ms-transform: scale(1, 1);
                    transform: scale(1, 1);
                }
                span{
                    &.button-icon{
                        border-color: transparent transparent transparent #ffffff;
                    }
                }
                &:hover{
                    &::before{
                        -webkit-transform: scale(1, 1);
                        -ms-transform: scale(1, 1);
                        transform: scale(1, 1);
                    }
                }
            }
        }
    }

    &.prcing-style-2 {
        padding: 0;
        &.active {
            .price-wrapper {
                .price {
                    h2 {
                        color: var(--color-primary);
                    }
                }
            }
            .axil-pricing-inner {
                border: 0 none;
            }
        }
        .axil-pricing-inner {
            padding: 40px 35px;
            border: 1px solid #C7C7D5;
            background: transparent;
        }

        &.active {
            padding-left: 0;
            &::before {
                width: calc(100% + -4px);
                height: calc(100% + -3px);
                right: calc(25px - -1px);
            }
            .axil-pricing-inner {
                
            }
        }


    }
}

.axil-pricing-table-area.prcing-style-2 .row--0 > [class*=col] {
    margin-right: 0;
}

.axil-pricing-table .pricing-header .price-wrapper .date-option select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.axil-pricing-table .pricing-header .price-wrapper .date-option select {
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    background: url(../images/icons/arrow-icon.png) no-repeat right transparent;
    display: inline-block;
    position: relative;
    padding-right: 16px;
    background-color: transparent;
    outline: none;
}

.axil-pricing-table .pricing-header .price-wrapper .date-option select option {
    background: transparent;
    box-shadow: none;
    border: 0 none;
    outline: none;
}






