/*=====================
 * Section Title
========================*/

.section-title {
    span {
        &.sub-title {
            height: 36px;
            padding: 0 15px;
            font-size: 15px;
            line-height: 35px;
            display: inline-block;
            margin-bottom: 20px;
            position: relative;
            z-index: 1;
            padding-left: 17px !important;
            background: transparent !important;
            &::before {
                position: absolute;
                content: "";
                background: rgba(122, 25, 255, 0.1);
                left: 0px;
                bottom: 0;
                width: 100%;
                height: 100%;
                transform: perspective(400px) rotateY(-11deg);
                z-index: -1;
            }

            @media #{$sm-layout} {
                margin-bottom: 10px;
            }

            &.extra08-color {
                &::before {
                    background: rgba(0, 208, 156, 0.1);
                }
            }

            &.extra04-color {
                &::before {
                    background: rgba(0, 207, 255, 0.1);
                }
            }

            &.extra05-color {
                &::before {
                    background: rgba(122, 25, 255, 0.1)
                }
            }

            &.extra07-color {
                &::before {
                    background: rgba(0, 122, 255, 0.1)
                }
            }

            &.extra06-color {
                &::before {
                    background: rgba(255,138,91,0.1)
                }
            }

            &.extra10-color {
                &::before {
                    background: rgba(0,122,255,0.1);
                }
            }
        }
    }
    .title {
        margin-bottom: 20px;
        position: relative;
        z-index: 2;
        &::before {
            position: absolute;
            content: "";
            background: transparent;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        @media #{$lg-layout} {
            margin-bottom: 15px;
            font-size: 40px;
            line-height: 52px;
        }
        @media #{$md-layout} {
            margin-bottom: 15px;
            font-size: 35px;
            line-height: 42px;
            br {
                display: none;
            }
        }
        @media #{$sm-layout} {
            margin-bottom: 10px;
            br {
                display: none;
            }
        }
    
    }

    p {
        position: relative;
        z-index: 2;
        &::before {
            position: absolute;
            content: "";
            background: transparent;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

    &.text-center{
        p {
            padding: 0 25%;
            @media #{$lg-layout} {
                padding: 0 20%;
            }
            @media #{$md-layout} {
                padding: 0 10%;
            }

            @media #{$sm-layout} {
                padding: 0;
            }
        }
    }

    &.text-left {
        p {
            padding: 0 25% 0 0;
            @media #{$sm-layout} {
                padding: 0;
            }
            @media #{$md-layout} {
                padding: 0;
            }
            @media #{$lg-layout} {
                padding: 0 0% 0 0;
            }
        }
    }

    &.text-right {
        p {
            padding: 0 0 0 25%;
            @media #{$sm-layout} {
                padding: 0;
            }
        }
    }
    
}


.axil-brand-area  {
    .section-title {
        @media #{$md-layout} {
            text-align: center;
        }
        @media #{$sm-layout} {
            text-align: center;
        }
    }
}


// Funfact Layout Two Title
.funfact-layout-2 {
    .section-title {
        &.text-left {
            p {
                padding: 0 5% 0 0;
                @media #{$md-layout} {
                    padding: 0;
                }
                @media #{$sm-layout} {
                    padding: 0;
                }
            }
        }
    }
}
