/*--------------------------------
    Axil Testimonial Styles 
----------------------------------*/
.axil-testimonial-area {
    position: relative;
    .shape-group {
        position: absolute;
        right: -97px;
        bottom: 150px;
        span {
            &.icon {
                font-size: 349px;
            }
        }
        @media #{$lg-layout} {
            display: none;
        }
        @media #{$md-layout} {
            display: none;
        }
        @media #{$sm-layout} {
            display: none;
        }
    }
}


.row {
    &.axil-testimonial-single {
        margin: 0px -30px;
    }
}

.axil-testimonial {
    position: relative;
    z-index: 2;
    @extend %transition;
    &::before {
        position: absolute;
        content: "\e96e";
        right: 40px;
        color: var(--color-secondary);
        font-size: 45px;
        top: 69px;
        z-index: 3;
        width: 52px;
        height: 44px;
        font-family: 'icomoon' !important;
        font-weight: 500;
        opacity: 0.3;

        @media #{$md-layout} {
            right: 20px;
        }
        @media #{$lg-layout} {
            right: 20px;
        }
    }
    .inner {
        position: relative;
        padding: 49px 36px;
        z-index: 2;
        padding-left: 58px;
        transition: 0.5s;
        padding-left: 57px;

        @media #{$lg-layout} {
            padding: 42px 36px;
            padding-left: 40px;
        }
        @media #{$md-layout} {
            padding: 42px 36px;
            padding-left: 40px;
        }
        @media #{$sm-layout} {
            padding: 30px 30px;
            padding-left: 30px;
            margin: 0 15px;
        }
        
        &::before {
            width: 100%;
            height: 92%;
            left: -25px;
            bottom: -25px;
            background:  rgba(0, 2, 72, 0.1);
            opacity: 0;
            content: "";
            position: absolute;
            z-index: -1;
            transform-style: preserve-3d;
            filter: blur(40px);
            transition: 0.3s;
            @media #{$md-layout} {
                transform: none;
            }
            @media #{$sm-layout} {
                transform: none;
            }
        }
        &::after {
            background: #ffffff;
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            z-index: -1;
            transform: perspective(700px) rotateY(-8deg);
            opacity: 0;
            @extend %transition;
            width: 100%;
            box-shadow: 0 0 1px transparent;
            
            @media #{$md-layout} {
                transform: none;
            }
            @media #{$sm-layout} {
                transform: none;
            }
        }
    }
    .clint-info-wrapper {
        display: flex;
        @media #{$sm-layout} {
            display: block;
        }
        .thumb {
            position: relative;
            height: 100%;
            z-index: 1;
            display: inline-block;
            &::before {
                width: 92%;
                height: 92%;
                left: -10px;
                bottom: -10px;
                background: rgba(0,2,72,0.3);
                content: "";
                position: absolute;
                filter: blur(14px);
                transition: 0.3s;
                z-index: 1;
            }
            img {
                height: 60px;
                object-fit: cover;
                position: relative;
                z-index: 1;
            }
        }
        .client-info {
            padding-left: 25px;
            @media #{$sm-layout} {
                padding-left: 0;
                margin-top: 15px;
            }
            .title {
                line-height: 32px;
                margin-bottom: 5px;
                @extend .axil-bg-color-option;
                @media #{$sm-layout} {
                    line-height: 24px;
                    font-size: 20px;
                }
            }
            span{
                line-height: 28px;
                display: inline-block;
                @extend .axil-bg-color-option;
            }
        }
    }
    .description {
        margin-top: 30px;
        
        @media #{$md-layout} {
            margin-top: 20px;
        }
        @media #{$lg-layout} {
            margin-top: 20px;
        }
        @media #{$sm-layout} {
            margin-top: 16px;
        }
        p {
            margin-bottom: 0;
            @extend .axil-bg-color-option;
        }
        a {
            &.axil-link-button {
                margin-top: 40px;
                color: $heading-color;
                @extend %transition;
                text-decoration: none;
                position: relative;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                &::after {
                    position: absolute;
                    bottom: 0;
                    width: 0;
                    height: 1px;
                    content: "";
                    background: currentColor;
                    left: 0;
                    @extend %transition;
                }
                @media #{$sm-layout} {
                    margin-top: 15px;
                }
                @media #{$md-layout} {
                    margin-top: 20px;
                }
                @media #{$lg-layout} {
                    margin-top: 20px;
                }
                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }

    &.style-var--2{
        .clint-info-wrapper {
            .thumb {
                position: relative;
                height: 100%;
                z-index: 1;
                display: inline-block;
                &::before {
                    width: 92%;
                    height: 92%;
                    left: -10px;
                    bottom: -10px;
                    background: rgba(0,2,72,0.3);
                    content: "";
                    position: absolute;
                    filter: blur(14px);
                    transition: 0.3s;
                    z-index: -1;
                }
                img {
                    height: 60px;
                    width: 60px;
                    border-radius: 100%;
                    border: 4px solid #FFFFFF;
                    box-sizing: border-box;
                }
            }
            
        }
    }
   
    &.active { 
        .inner {
            &::before {
                opacity: 1;
            }
            &::after {
                opacity: 1;
            }
        }
        .description {
            a {
                &.axil-link-button {
                    color: var(--color-primary);
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}



.review-layout-2 .axil-testimonial .clint-info-wrapper .thumb img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 4px solid #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.axil-testimonial.style-var--2 .clint-info-wrapper .thumb::before {
    width: 92%;
    height: 92%;
    left: -10px;
    bottom: -10px;
    background: rgba(0, 2, 72, 0.3);
    content: "";
    position: absolute;
    -webkit-filter: blur(14px);
    filter: blur(14px);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: -1;
}





