/* Funfact Area */


.axil-counterup h3.count.counter-percentage::after{
    content: "%";
}
.axil-counterup h3.count.counter-k::after{
    content: "K";
}
.axil-counterup h3.count.counter-none::after{
    content: "";
}


/* Review */
.axil-testimonial .clint-info-wrapper .thumb {
    max-width: 60px;
}

/* Accordion */
button.btn.btn-link img {
    max-height: 30px;
    padding-right: 14px;
}
button.btn.btn-link span {
    padding-right: 14px;
}


/* Office Location */
.axil-office-location .thumbnail i {
    font-size: 160px;
    line-height: 1;
}