/*--------------------------
    Blog Details Area 
---------------------------*/
.alignwide {
    margin-left: -50px;
    margin-right: -50px;
    max-width: 1400px;
    width: auto;

    @media #{$sm-layout} {
        margin-left: auto;
        margin-right: auto;
    }
   
}
.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
    margin-top: 0.9em;
    margin-bottom: 1.5em;
}

.axil-blog-details-area {
    .thumbnail {
        display: block;
        a {
            display: block;
        }

        @media #{$md-layout} {
            margin-bottom: 30px;
        }

        @media #{$sm-layout} {
            margin-bottom: 25px;
        }

        &.axil-gallery-post {
            margin-bottom: 30px;
        }
    }

    audio {
        margin-top: 30px;
        display: block;
        width: 100%;
        outline: none;

        @media #{$md-layout} {
            margin-top: 25px;
        }

        @media #{$sm-layout} {
            margin-top: 25px;
        }
    }

    .blog-top {
        .title {
            margin-bottom: 20px;
            margin-top: -10px;

            @media #{$lg-layout} {
                margin-top: 0;
            }

            @media #{$md-layout} {
                margin-top: 0;
            }

            @media #{$sm-layout} {
                margin-bottom: 10px;
                margin-top: 0;
            }

            a {
                text-decoration: none;
            }
        }

        .author {
            display: flex;
            align-items: flex-start;
            margin-bottom: 40px;

            @media #{$sm-layout} {
                margin-bottom: 20px;
            }

            @media #{$large-mobile} {
                display: block;
            }

            .author-thumb {

                img {
                    max-height: 50px;
                }
            }

            .info {
                padding-left: 20px;

                @media #{$large-mobile} {
                    padding-left: 0;
                    margin-top: 15px;
                }

                h6 {
                    margin-bottom: 6px;
                }

                ul {
                    &.blog-meta {
                        @extend %liststyle;
                        display: flex;
                        margin: 0 -10px;
                        flex-wrap: wrap;

                        li {
                            margin: 0 10px;
                            font-size: 15px;
                            line-height: 24px;

                            a {
                                color: var(--color-body);
                                transition: 0.3s;

                                &:hover {
                                    color: var(--color-primary);
                                }
                            }

                            &.post-meta-tags {
                                a {
                                    &+a {
                                        &::before {
                                            content: ", ";
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .content {
        p {
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 22px;

            @media #{$sm-layout} {
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 10px;
            }
        }
    }

    .axil-quote {
        padding: 30px;
        position: relative;
        border-left: 4px solid var(--color-primary);
        font-size: 20px;
        line-height: 32px;
        font-style: italic;
        margin: 40px 0;
        background: #FAFAFB;

        @media #{$sm-layout} {
            padding: 20px;
            font-size: 18px;
            line-height: 28px;
            margin: 30px 0;
        }
    }

    p {
        margin-bottom: 22px;
    }

    // List Style 
    ul {
        &.bullet-list {
            margin: -14px 0;
            padding-bottom: 40px;
            border-bottom: 1px solid #F6F5FA;
            margin-bottom: 40px;

            @media #{$sm-layout} {
                padding-bottom: 20px;
                margin-bottom: 20px;
            }

            li {
                margin: 14px 0;

                @media #{$sm-layout} {
                    margin: 3px 0;
                }
            }
        }

        li {
            a {
                color: $heading-color;

                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }

    // Blog Share 
    .blog-share {
        padding-top: 40px;
        border-top: 1px solid #F6F5FA;
        margin-top: 50px;

        .text {
            color: $heading-color;
            font-size: 20px;
            font-weight: 600;
            line-height: 32px;
            display: inline-block;
            padding-right: 36px;

            @media #{$large-mobile} {
                margin-bottom: 10px;
            }
        }

        ul {
            &.social-share {
                @extend %liststyle;
                margin: 0 -10px;

                li {
                    a {
                        font-size: 15px;
                        line-height: 24px;

                        i {
                            padding-right: 10px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    // Blog Author 
    .axil-blog-author {
        padding: 30px;
        background: #FAFAFB;

        @media #{$sm-layout} {
            padding: 25px 20px;
        }

        .author {
            @media #{$sm-layout} {
                display: block !important;
            }
        }

        .author-thumb {
            padding-right: 40px;

            @media #{$sm-layout} {
                padding-right: 0px;
                margin-bottom: 15px;
            }

            img {
                max-height: 100px;
            }
        }

        .info {
            .title {
                font-size: 22px;
                margin-bottom: 20px;

                @media #{$sm-layout} {
                    margin-bottom: 6px;
                }

                a {
                    text-decoration: none;
                }
            }

            p {
                margin-bottom: 20px;
            }

            ul {
                &.social-share {
                    @extend %liststyle;
                    margin: -10px;

                    li {
                        margin: 10px;

                        i {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

    }

    // Blog comment
    .comment-title {
        @media #{$sm-layout} {
            margin-bottom: 20px;
        }
    }

    .comment-list {
        ol {
            margin-bottom: 30px;

            ol {
                margin-bottom: 0;
            }
        }

        .comment {
            // display: flex;
            margin-bottom: 0;
            margin-top: 0;

            .thumbnail {
                padding-right: 30px;

                img {
                    max-height: 60px;
                    max-width: 60px;
                }
            }

            .content {
                .heading {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    @media #{$large-mobile} {
                        display: block;
                    }

                    .title {
                        h5 {
                            margin-bottom: 0;
                        }
                    }

                    .coment-date {
                        display: flex;
                        align-items: center;

                        p {
                            font-size: 15px;
                            line-height: 24px;
                            color: var(--color-primary);
                            margin-bottom: 0;
                        }

                        a {
                            &.reply-btn {
                                font-size: 14px;
                                line-height: 26px;
                                display: inline-block;
                                color: var(--color-primary);
                                padding-left: 10px;
                            }
                        }
                    }
                }

                p {
                    &.description {}
                }
            }

            & + .comment {
                // margin-top: 30px;
                // @media #{$sm-layout} {
                //     margin-top: 15px;
                // }
            }

            &.comment-reply {
                margin-left: 75px;

                @media #{$sm-layout} {
                    margin-left: 0;
                }
            }
        }
    }

    .wp-block-cover {
        .wp-block-cover-text {
            color: #ffffff;
        }
    }





}

/* --------------------------
Blog Comment Form Form  
----------------------------*/

.axil-comment-form,
.comment-form {
    .inner {
        .comment-reply-title {
            margin-bottom: 3px;
        }
    }

    .form-group {

        input,
        textarea {
            border-width: 1px;
        }

        textarea {
            min-height: 88px;
        }
    }

    input[type="submit"] {
        width: auto;
        background: #000248;
        border-color: #000248;
        color: #ffffff;
        font-size: 16px;
        padding: 0 25px;
        height: 46px;
        line-height: 42px;
        @extend %transition;
        border-width: 2px;
        font-weight: 500;

        &:hover {
            background: transparent;
            color: #000248;
            border-color: #000248;
        }
    }
}

.comment-respond {
    position: relative;
    z-index: 1;
    padding: 35px 40px 40px;
    margin: 30px 0;
    @media #{$sm-layout} {
        padding: 30px 20px;
    }
    &::before {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        background: rgba(0, 2, 72, 0.1);
        content: "";
        position: absolute;
        z-index: -1;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: rotateY(-10deg);
        transform: rotateY(-10deg);
        -webkit-filter: blur(50px);
        filter: blur(50px);

        @media #{$sm-layout} {
            transform: none;
        }
    }

    &::after {
        background: #ffffff;
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transform-style: preserve-3d;
        transform: perspective(2000px) rotateY(-4deg);
        margin-left: -1%;

        @media #{$sm-layout} {
            transform: none;
            margin-left: 0;
        }

        @media #{$md-layout} {
            transform: none;
            margin-left: 0;
        }
    }
}


/* ---------------------------
Active Sidebar Single Post  
-------------------------------*/

.active-sidebar-single-post .axil-blog-details-area p.form-submit {
    margin-bottom: 0;
}

.active-sidebar-single-post .axil-comment-form .inner .comment-respond,
.active-sidebar-single-post .comment-form .inner .comment-respond {
    padding: 30px 40px 38px;
}





/*---------------------------
    Axil Blog Comment  
-----------------------------*/

.axil-blog-comment {
    ul {
        &.comment-list {
            list-style: none;
            padding-left: 0;
            ul {
                &.children {
                    list-style: none;
                    padding-left: 80px;
                    @media #{$md-layout} {
                        padding-left: 10px;
                    }
                    @media #{$sm-layout} {
                        padding-left: 10px;
                    }
                }
            }
            li {
                &.comment {
                    .comment-awaiting-moderation {
                        font-weight: 500;
                    }
                    .single-comment {
                        .comment-author {
                            padding: 30px 0;
                            display: flex;
                            border-bottom: 1px solid rgba(199, 199, 214, 0.4);
                            padding-bottom: 5px;
                            flex-wrap: wrap;

                            .comment-author-image {
                                padding-right: 22px;
                                margin-bottom: 15px;
                                padding-right: 0;
                                max-width: 60px;
                                margin-right: 22px;
                                img {
                                    max-height: 60px;
                                    width: 100%;
                                    max-width: 100%;
                                }
                                @media #{$sm-layout} {
                                    max-width: 50px;
                                    margin-right: 15px;
                                }
                            }
                            .axil-comment-content {
                                flex-grow: 1;
                                max-width: calc(100% - 82px);
                                @media #{$sm-layout} {
                                    max-width: calc(100% - 85px);
                                }
                                h6 {
                                    margin-bottom: 4px;
                                }
                                .axil-comment-content-top {
                                    margin-bottom: 5px;
                                    @media #{$large-mobile} {
                                        display: block;
                                    }
                                    .commenter {
                                        font-size: 16px;
                                        line-height: 22px;
                                        font-weight: 700;
                                        color: #000248;
                                        transition: 0.3s;
                                        @media #{$large-mobile} {
                                            margin-bottom: 10px;
                                        }
                                        a {
                                            font-size: 16px;
                                            line-height: 22px;
                                            font-weight: 700;
                                            color: #000248;
                                            transition: 0.3s;
                                            &:hover {
                                                color: var(--color-primary);
                                            }
                                        }
                                    }
                                    .time-spent {
                                        display: flex;
                                        margin-top: 6px;
                                        align-items: center;
                                        flex-wrap: wrap;
                                        .axil-comment-date {
                                            font-size: 15px;
                                            line-height: 24px;
                                            color: #757589;
                                            margin-bottom: 0;
                                            font-weight: 300;
                                            position: relative;
                                        }
                                        .reply-edit {
                                            margin-left: 10px;
                                            padding-left: 10px;
                                            position: relative;
                                            &::after {
                                                position: absolute;
                                                content: "";
                                                height: 4px;
                                                width: 4px;
                                                background: #757589;
                                                left: -2px;
                                                top: 50%;
                                                transform: translateY(-50%);
                                                border-radius: 100%;
                                            }
                                            .comment-edit-link {
                                                display: none;
                                            }
                                            .reply {
                                                a {
                                                    font-size: 16px;
                                                    line-height: 26px;
                                                    display: inline-block;
                                                    color: #000248;
                                                    @extend %transition;
                                                    font-weight: 700;
                                                    text-decoration: none;
                                                    i {
                                                        display: none;
                                                    }
                                                    &:hover {
                                                        color: var(--color-primary);
                                                        text-decoration: underline;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                
                            }
                        }
                    }

                    .comment-text {
                        font-size: 16px;
                        line-height: 22px;
                        margin-top: 6px;
                        color: #52526E;
                        p {
                            font-size: 16px;
                            line-height: 22px;
                            color: #52526E;
                            margin-bottom: 22px;
                        }
                        img {
                            margin: 15px 0;
                        }
                    }
                }

                &.pingback,
                &.trackback {
                    margin-top: 0;
                    margin-bottom: 0;
                    .axil-comment-content-top {
                        margin-bottom: 5px;
                        .commenter {
                            font-size: 16px;
                            line-height: 22px;
                            font-weight: 700;
                            color: #000248;
                            transition: 0.3s;
                            @media #{$large-mobile} {
                                margin-bottom: 10px;
                            }
                            a {
                                font-size: 16px;
                                line-height: 22px;
                                font-weight: 700;
                                color: #000248;
                                transition: 0.3s;
                                &:hover {
                                    color: var(--color-primary);
                                }
                            }
                        }
                        .time-spent {
                            display: flex;
                            margin-top: 6px;
                            align-items: center;
                            flex-wrap: wrap;
                            .axil-comment-date {
                                font-size: 15px;
                                line-height: 24px;
                                color: #757589;
                                margin-bottom: 0;
                                font-weight: 300;
                                position: relative;
                            }
                            .reply-edit {
                                margin-left: 10px;
                                padding-left: 10px;
                                position: relative;
                                &::after {
                                    position: absolute;
                                    content: "";
                                    height: 4px;
                                    width: 4px;
                                    background: #757589;
                                    left: -2px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    border-radius: 100%;
                                }
                                .comment-edit-link {
                                    display: none;
                                }
                                .reply {
                                    a {
                                        font-size: 16px;
                                        line-height: 26px;
                                        display: inline-block;
                                        color: #000248;
                                        @extend %transition;
                                        font-weight: 700;
                                        text-decoration: none;
                                        i {
                                            display: none;
                                        }
                                        &:hover {
                                            color: var(--color-primary);
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .comment-author {
                        padding: 30px 0;
                        display: flex;
                        border-bottom: 1px solid rgba(199, 199, 214, 0.4);
                        padding-bottom: 5px;
                        flex-wrap: wrap;
                    }
                    
                    .comment-author-image {
                        padding-right: 22px;
                        margin-bottom: 15px;
                        padding-right: 0;
                        max-width: 60px;
                        margin-right: 22px;
                        &:empty {
                            display: none;
                        }
                        img {
                            max-height: 60px;
                            width: 100%;
                            max-width: 100%;
                        }
                        @media #{$sm-layout} {
                            max-width: 50px;
                            margin-right: 15px;
                        }
                    }

                    .axil-comment-content {
                        flex-grow: 1;
                        max-width: calc(100% - 82px);
                        @media #{$sm-layout} {
                            max-width: calc(100% - 85px);
                        }
                    }

                    .comment-text {
                        font-size: 16px;
                        line-height: 22px;
                        margin-top: 6px;
                        color: #52526E;
                        p {
                            font-size: 16px;
                            line-height: 22px;
                            color: #52526E;
                            margin-bottom: 22px;
                        }
                        img {
                            margin: 15px 0;
                        }
                    }
                }
            }
        }
    }
}





/*-----------------------------------
Default css For Blog Details 
--------------------------------------*/
// Theme List Style 
ul {
    padding-left: 20px;
    margin-bottom: -10px;
    list-style: disc;

    ul {
        margin-bottom: 0;
    }

    li {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        color: $body-color;

        @media #{$sm-layout} {
            font-size: 16px;
            line-height: 24px;
        }

        a {
            transition: all 0.3s ease 0s;
            text-decoration: none;
            display: inline-block;
            color: $heading-color;
            @extend %fontWeight400;
            @extend %transition;

            &:hover {
                color: var(--color-primary);
            }
        }
    }

    &.aligncenter {
        padding-left: 0;
        list-style: inside;

        ul {
            list-style: inside;
        }
    }
}




// Select Styles 

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(../images/icons/arrow-icon.png) right 20px center no-repeat transparent;
    cursor: pointer;
    color: var(--color-body);
    padding: 0 20px;
    border-radius: 0;
    height: 46px;
    border: 1px solid #D3D3D3;
    font-size: 18px;
    padding-right: 32px;
}

table,
.wp-block-calendar {
    font-size: 16px;
    line-height: 28px;

    th,
    td {
        border: 1px solid $border-color;
        padding: 7px 10px;
        text-align: center;
        @media #{$laptop-device} {
            padding: 8px 7px;
        }
        &#today {
            background: var(--color-primary);
            color: #ffffff;
            a {
                color: #ffffff;
            }
        }
    }
    tfoot {
        td {
            border: 1px solid #D3D3D3;
        }
    }
}


table a,
table a:link,
table a:visited {
    text-decoration: none;
}

.wp-block-image,
.wp-block-cover {
    max-width: 100%;
    margin-bottom: 10px;

    .alignleft {
        float: left;
        display: table;
        margin-left: 0;
        margin-right: 30px;
    }

    .alignright {
        float: right;
        margin-left: 30px;
        display: table;
    }

    figcaption {
        caption-side: bottom;
        margin: 12px 0 0;
        font-size: 16px;
        text-align: center;
        width: 100%;

        a {
            text-decoration: underline;
            color: inherit;

            &:hover {
                color: var(--color-primary);
            }
        }
    }

    &.alignfull {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        max-width: 100vw;
        width: 100vw;

        img {
            width: 100%;
        }
    }

    &.alignwide {
        margin-left: -50px;
        margin-right: -50px;
        max-width: 1400px;
        width: auto;

        @media #{$sm-layout} {
            margin-left: auto;
            margin-right: auto;
        }

       

        img {
            width: 100%;
        }
    }

    a {
        @extend %transition;

        &:hover {
            color: var(--color-primary);
        }
    }
}

.axil-blog-details-area {
    .single-content {
        .wp-block-image {
            &:nth-last-of-type(1) {
                overflow: hidden;
            }

        }
    }

    figure {
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 1.7;

        @media #{$sm-layout} {
            margin-bottom: 20px;
        }
    }

    .axil-blog-list {
        margin-bottom: 40px;
    }

    .wp-block-group {
        &.has-background {
            margin-bottom: 20px;
        }
    }

    .wp-block-search {
        margin-bottom: 20px;

        @media #{$large-mobile} {
            display: block;
        }

        input {
            @media #{$large-mobile} {
                display: block;
            }
        }

        .wp-block-search__button {
            @media #{$large-mobile} {
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }

    .post-password-form {
        p {
            margin-bottom: 0;
            display: flex;
            align-items: flex-end;
            margin-top: 20px;

            label {
                margin-bottom: 0;
            }

            input[type=submit] {
                margin-left: 20px;
            }
        }
    }

    .gallery-item {
        padding: 0 15px;
    }

    .post_format-post-format-quote {
        .blog-top {
            .author {
                .info {
                    padding-left: 0;
                }
            }

            .author-thumb {
                padding-right: 20px;

                @media #{$large-mobile} {
                    padding-right: 0;
                }
            }
        }
    }
}



p {
    &.has-large-font-size {
        line-height: 1.5;
    }
}

.axil-blog-details-area,
.entry-content {
    p {
        line-height: 1.7;
        font-weight: 400;
    }

    ul {
        margin-bottom: 30px;

        ul {
            margin-bottom: 0;
        }

        &.blocks-gallery-grid {
            margin-bottom: 0;
        }
    }

    ol {
        ul {
            margin-bottom: 0;
        }
    }

    .blocks-gallery-grid,
    .wp-block-gallery {
        padding: 0;
    }

    .wp-block-archives-dropdown {
        margin-bottom: 30px;
    }

    select {
        cursor: pointer;
        appearance: none;
        padding: 13px 20px 14px;
        height: 52px;
        border-radius: 0;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .wp-block-calendar {
        text-align: center;
        margin-bottom: 30px;

        nav {
            &.wp-calendar-nav {
                text-align: left;
            }
        }

        tfoot {
            a {
                color: $heading-color;

                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }

    figcaption {
        font-size: 16px;
        line-height: 22px;
        color: $body-color;
        font-weight: 400;
        margin: 12px 0 0;
        text-align: center;
        width: 100%;
        display: block !important;
    }

    .wp-block-latest-posts {
        &.wp-block-latest-posts__list {
            li {
                a {
                    font-size: 16px;
                    line-height: 22px;
                    color: $heading-color;
                    font-weight: 700;
                    transition: 0.3s;

                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
}

.alignfull {
    margin-bottom: 15px;
}

.wp-block-separator {
    border-bottom: 1px solid $border-color;
}

hr {
    display: block;
    height: 0;
    margin: 15px 0 15px;
    border-top: 1px solid $border-color;
}

ol.has-avatars,
ol.wp-block-latest-comments {
    padding-left: 0;
}

.wp-block-latest-comments li a {
    color: $heading-color;
}

.wp-block-latest-comments li a:hover {
    color: var(--color-primary);
}

/* Gallery Post  */
.gallery-post {
    .thumb-inner {
        a {
            display: block;

            img {
                width: 100% !important;
            }
        }
    }
}



.entry-content {
    figure {
        margin-bottom: 30px;
    }
}

.axil-blog-details-area {
    .axil-blog-list {
        &.quote-blog {
            blockquote {
                padding: 0;
                border-left: 0;
                background: transparent;
                margin: 0;

                .title {
                    padding-right: 78px;

                    @media #{$sm-layout} {
                        padding-right: 47px;
                    }
                }
            }
        }


    }

    .alignleft {
        margin-right: 30px;
    }

    .alignright {
        margin-left: 30px;
    }
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
section.wp-block-cover-image>h2 {
    max-width: 100%;
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
section.wp-block-cover-image>h2 {
    font-size: 36px;
    line-height: 1.6;
}

.aligncenter {
    text-align: center;
}

.alignleft {
    margin-right: 30px;
    text-align: left;
}

.alignright {
    margin-left: 30px;
    text-align: right;
}

.wp-block-file {
    a {
        color: var(--color-body);

        &:hover {
            color: var(--color-primary);
        }
    }
}

.is-style-error {
    a {
        color: #8b343c;
    }
}

.is-style-success {
    p {
        color: #154a28;
    }
}

.is-style-warning {
    p {
        color: #8a4b30;
    }
}

.wp-block-coblocks-alert {
    margin: 20px 0;
}

.wp-block-coblocks-pricing-table.has-2-columns .wp-block-coblocks-pricing-table-item {
    text-align: center;
}

/*-------------------
    BlockQuote  
-------------------*/

.wp-block-quote,
blockquote,
.wp-block-coblocks-click-to-tweet,
.wp-block-pullquote blockquote,
.wp-block-quote.is-style-large,
.wp-block-quote.is-large,
blockquote.has-text-align-right,
.wp-block-quote.has-text-align-right {
    padding: 30px;
    position: relative;
    border-left: 4px solid var(--color-primary);
    font-size: 20px;
    line-height: 1.7;
    font-style: italic;
    background: #FAFAFB;
    border-radius: 0;
    margin: 40px 0;

    @media #{$sm-layout} {
        margin: 20px 0;
    }

    p {
        margin-bottom: 0;
        font-style: normal;
    }

}

.wp-block-quote.has-text-align-right {
    border-left: 0;
    border-right: 4px solid var(--color-primary);
}

.wp-block-pullquote.alignleft blockquote,
.wp-block-pullquote.alignright blockquote,
.wp-block-pullquote.alignleft blockquote p,
.wp-block-pullquote.alignright blockquote p,
.wp-block-pullquote blockquote,
.wp-block-pullquote p {
    font-size: 20px;
    line-height: 1.7;
}

.wp-block-quote.is-style-large p,
.wp-block-quote.is-large p {
    font-size: 24px;
    line-height: 1.7;
}

.alignright blockquote {
    border-left: 0;
    border-right: 4px solid var(--color-primary);
}

.axil-blog-details-area blockquote p {
    margin-bottom: 0;
    font-size: 20px;
}

.wp-block-pullquote {
    border-top: 4px solid var(--color-primary);
    border-bottom: 4px solid var(--color-primary);
    border-left: none;
    padding: 30px 0;

    blockquote {
        margin: 0;
        border: 0 none;
    }
}


.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
    border-color: transparent;
    color: #FF0003;
    padding: 0;
}

.contact-form-style-2 .wpcf7 form .wpcf7-response-output {
    margin: 0;
    padding: 0;
    border: 0 none;
    margin-top: 30px;
}

/* ---------------------
New Code For  
-----------------------*/
.page-page-image-alignment .entry-content figure {
    margin-bottom: 10px;
}

.wp-caption .wp-caption-text {
    margin: 5px 0 0 !important;
}

.page-page-image-alignment .alignright,
.page-page-image-alignment .alignleft {
    margin-top: 0;
    margin-bottom: 0;
}

.page-clearing-floats .page-links {
    margin-bottom: 0;
}

.page-wrappper .entry-content {
    margin-top: 0;
}


.axil-single-widget .title a img.rss-widget-icon {
    position: relative;
    top: 1px;
}

/* -----------------------
    New Code For Submit
------------------------- */
.wp-block-columns.alignfull,
 .alignfull:not(.has-background) .wp-block-columns {
    padding-left: 40px;
    padding-right: 40px;
}
@media #{$sm-layout}{
    .wp-block-columns.alignfull,
    .alignfull:not(.has-background) .wp-block-columns {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.wp-block-columns {
    margin-bottom: 22px;
}
.wp-block-column > *:last-child {
    margin-bottom: 0;
}
.wp-block-column > *:first-child {
    margin-top: 0;
}
.blocks-gallery-grid .blocks-gallery-image figcaption,
.blocks-gallery-grid .blocks-gallery-item figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
    padding: 40px 20px 20px;
}
.wp-block-cover {
    margin-bottom: 22px;
}
.has-left-content.aligncenter {
    text-align: left;
    justify-content: flex-start;
}
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
section.wp-block-cover-image>h2 {
    padding: 15px;
}
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
section.wp-block-cover-image>h2 {
    max-width: 1260px;
}
a#cancel-comment-reply-link {
    font-size: 18px;
}






@media (min-width: 1200px) {
    .wp-block-cover-image .wp-block-cover-image-text,
    .wp-block-cover .wp-block-cover-text,
    .wp-block-cover-text,
    P.wp-block-cover-text,
    P.wp-block-cover,
    .rn-blog-details .wp-block-cover .wp-block-cover-text {
        max-width: 1260px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .wp-block-cover-image .wp-block-cover-image-text,
    .wp-block-cover .wp-block-cover-text,
    .wp-block-cover-text,
    P.wp-block-cover-text,
    P.wp-block-cover,
    .rn-blog-details .wp-block-cover .wp-block-cover-text {
        max-width: 960px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .wp-block-cover-image .wp-block-cover-image-text,
    .wp-block-cover .wp-block-cover-text,
    .wp-block-cover-text,
    P.wp-block-cover-text,
    P.wp-block-cover,
    .rn-blog-details .wp-block-cover .wp-block-cover-text {
        max-width: 720px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .wp-block-cover-image .wp-block-cover-image-text,
    .wp-block-cover .wp-block-cover-text,
    .wp-block-cover-text,
    P.wp-block-cover-text,
    P.wp-block-cover,
    .rn-blog-details .wp-block-cover .wp-block-cover-text {
        max-width: 540px;
    }
}
:root .editor-styles-wrapper .has-pale-pink-background-color, 
:root .has-pale-pink-background-color {
    background-color: #000;
}



// Active Sidebar Post Layout 
.active-sidebar-single-post .wp-block-image.alignfull,
.active-sidebar-single-post .wp-block-cover.alignfull,
.active-sidebar-single-post .wp-block-image.alignwide,
.active-sidebar-single-post .wp-block-cover.alignwide ,
.active-sidebar-single-post .alignfull,
.active-sidebar-single-post .alignwide {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
}


.active-sidebar-single-post .wp-block-columns.alignfull, 
.active-sidebar-single-post .alignfull:not(.has-background) .wp-block-columns {
    padding-left: 0;
    padding-right: 0;
}




