/*--------------------------
    Blog Sidebar Styles 
----------------------------*/
.axil-single-widget {
    &:first-child {
        margin-top: 0 !important;
    }
    .title {
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
        margin-bottom: 22px;
        @media #{$sm-layout} {
            margin-bottom: 15px;
        }
        a {
            font-size: 22px;
            line-height: 26px;
        }
        img {
            vertical-align: 0px;
        }
    }

    // Small post WWrapper 
    .small-post {
        display: flex;
        align-items: center;

        .thumbnail {
            padding-right: 20px;

            img {
                max-height: 80px;
                max-width: 100px;
            }
        }

        .content {
            h6 {
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                }
            }

            ul {
                &.blog-meta {
                    @extend %liststyle;
                    margin: 0 -10px;
                    display: flex;

                    li {
                        color: $body-color;
                        font-size: 12px;
                        line-height: 24px;
                        position: relative;
                        margin: 0 10px;

                        &+li {
                            &::before {
                                position: absolute;
                                background: $border-color;
                                height: 14px;
                                width: 1px;
                                left: -10px;
                                top: 50%;
                                transform: translateY(-50%);
                                content: "";
                            }
                        }
                    }
                }
            }
        }

        &+.small-post {
            margin-top: 20px;
        }
    }

    // Archive Styles 
    &.widget_archive,
    &.widget_categories {
        .screen-reader-text {
            display: none;
        }
    }

    // Widget Rss 
    &.widget_recent_comments {
        ul {
            li {
                a {
                    text-decoration: none;
                }
            }
        }
    }

    &.widget_rss {
        ul {
            li {
                a {
                    text-decoration: none;
                    color: $heading-color;
                    transition: 0.3s;
                    display: block;
                    &:hover {
                        color: var(--color-primary);
                    }
                }
                .rssSummary {
                    margin-top: 6px;
                }
                cite {
                    margin-top: 6px;
                    display: inline-block;
                }

            }
        }
    }

    // Category 
    &.category {
        ul {
            &.category-list {
                @extend %liststyle;

                li {
                    a {
                        display: block;
                        padding: 10px 0;
                        padding-right: 20px;
                        font-size: 18px;
                        line-height: 28px;
                        border-bottom: 1px solid $border-color;
                        text-decoration: none;
                        color: $body-color;
                        transition: 0.3s;
                        position: relative;

                        &::after {
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 4.5px 0 4.5px 6px;
                            border-color: transparent transparent transparent $heading-color;
                            position: absolute;
                            right: 0;
                            content: "";
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }

                    &:hover {
                        a {
                            color: var(--color-primary);
                        }
                    }

                    &:first-child {
                        a {
                            padding-top: 0;
                        }
                    }

                }
            }
        }
    }

    // Share Styles 
    &.share {
        background: var(--color-primary);
        padding: 17px 20px;

        span {
            font-size: 22px;
            line-height: 26px;
            font-weight: 700;
            color: #ffffff;
            display: inline-block;
        }

        ul {
            &.social-list {
                @extend %liststyle;

                li {
                    margin-left: 20px;

                    @media #{$lg-layout} {
                        margin-left: 10px;
                    }

                    @media #{$md-layout} {
                        margin-left: 10px;
                    }

                    @media #{$sm-layout} {
                        margin-left: 10px;
                    }

                    a {
                        font-size: 16px;
                        line-height: 28px;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    &.widget_calendar {
        caption {
            padding-top: 0;
            line-height: 19px;
            padding-bottom: 14px;
        }
    }

    /* New Code  */
    &.widget_categories {
        form {
            select {
                &.postform {
                    margin-top: 7px;
                }
            }
        }
    }

    nav {
        &.wp-calendar-nav {
            span {
                a {
                    display: inline-block;
                    line-height: 14px;
                }
            }
        }
    }

    .calendar_wrap {
        margin-bottom: -7px;
    }

    ul {
        margin-bottom: 0;
    }

}

// Widget Ress 
.widget_rss {
    ul {
        li {
            a {
                text-decoration: underline;
                color: $heading-color;
                transition: 0.3s;
                display: block;
                &:hover {
                    color: var(--color-primary);
                }
            }
            .rssSummary {
                margin-top: 6px;
            }
            cite {
                margin-top: 6px;
                display: inline-block;
            }

        }
    }
}



// Blog Search 
.blog-search,
.wp-block-search {
    position: relative;

    input {
        height: 46px;
        border: 1px solid $border-color;
        padding: 0 20px;
        color: $heading-color;
        padding-right: 65px;
        font-size: 18px;
    }

    .search-button {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        border: 0 none;
        padding: 0;

        i {
            color: $heading-color;
            font-weight: 400;
        }

        &::before {
            position: absolute;
            background: #C7C7D6;
            height: 18px;
            width: 1px;
            content: "";
            left: -14px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}


 // Text Widget 
 .textwidget {
    img {
        margin: 10px 0;
    }
}

 // Category 
 .category {
    ul {
        &.category-list {
            @extend %liststyle;

            li {
                a {
                    display: block;
                    padding: 10px 0;
                    padding-right: 20px;
                    font-size: 18px;
                    line-height: 28px;
                    border-bottom: 1px solid $border-color;
                    text-decoration: none;
                    color: $body-color;
                    transition: 0.3s;
                    position: relative;

                    &::after {
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 4.5px 0 4.5px 6px;
                        border-color: transparent transparent transparent $heading-color;
                        position: absolute;
                        right: 0;
                        content: "";
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                &:hover {
                    a {
                        color: var(--color-primary);
                    }
                }

                &:first-child {
                    a {
                        padding-top: 0;
                    }
                }

            }
        }
    }
}


// Tag Cloud Styles
.tagcloud,
.wp-block-tag-cloud {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    a {
        background: transparent;
        display: inline-block;
        height: 40px;
        color: #757589;
        font-size: 15px !important;
        line-height: 37px;
        padding: 0 10px;
        text-decoration: none;
        border: 2px solid $border-color;
        @extend %transition;
        padding: 0 17px;
        margin: 5px;

        &:hover {
            background: var(--color-primary);
            color: #ffffff;
            border-color: var(--color-primary);
        }
    }
}


// Widget Calender And Table 
.widget_calendar {
    caption {
        caption-side: top;
        margin: 0;
        padding: 7px 0;
        font-size: 18px;
        line-height: 24px;
    }
    #prev {
        text-align: left;

        a {
            text-decoration: none;
            color: $body-color;
        }
    }
}

/*--------------------
    Blog Meta 
----------------------*/

ul {
    &.blog-meta {
        @extend %liststyle;
        margin: 0 -10px;
        display: flex;
        li {
            color: $body-color;
            font-size: 14px;
            line-height: 24px;
            position: relative;
            margin: 0 10px;
            a {
                color: currentColor;
                @extend %transition;
                &:hover {
                    color: var(--color-primary);
                }
            }
            &::before {
                position: absolute;
                background: $border-color;
                height: 14px;
                width: 1px;
                right: -10px;
                top: 50%;
                transform: translateY(-50%);
                content: "";
            }
            &:last-child {
                &::before {
                    display: none;
                }
            }
            &.post-meta-tags {
                a {
                    & + a {
                        &::before {
                            content: ", ";
                        }
                    }
                }
            }
        }
    }
}




.wp-caption {
    margin-bottom: 15px;
    max-width: 100%;
    .wp-caption-text {
        margin: 8px 0;
        text-align: center;
    }
}

.wp-caption-text {
    text-align: center;
}