/*-------------------------
    Axil Contact Styles 
--------------------------*/
.axil-address-list {
    .axil-address {
        padding: 0;
        z-index: 2;
        max-width: inherit;
        &::before ,
        &::after {
            display: none;
        }
        h6 {
            &.title {
                font-size: 22px;
                font-weight: 700;
                line-height: 26px;
                margin-bottom: 9px;
            }
        }
        p {
            color: #757589; 
            font-size: 18px;
            line-height: 28px;
            a {
                color: #757589; 
                font-weight: 400;
                @extend %transition;
            }
            &:hover {
                a{
                    color: var(--color-primary);
                }
            }
        }
        & + .axil-address {
            margin-top: 30px;
        }
    } 
}


div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
    border: 0 none;
    color: #f10;
    padding: 0;
    margin: 20px 5px;
    margin-bottom: 0;
}
