/*!
Theme Name: Keystroke
Theme URI: http://axilthemes.com/themes/keystroke/
Author: Axilthemes
Author URI: https://themeforest.net/user/axilthemes/portfolio
Description: keystroke is a modern Responsive Multi-Purpose Multi-Page WordPress theme for startup digital agency and SEO agency that offers design, development and online marketing services to its client.
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: keystroke
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

keystroke is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

/* .post,
.page {
	margin: 0 0 1.5em;
} */

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}





/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/* Admin Bar */
@media only screen and (min-width: 779px){
	body.admin-bar header.sticky,
	body.admin-bar .side-nav,
	body.admin-bar .popup-mobile-manu{
		top:32px
	}
}
@media only screen and (max-width: 779px) and (min-width: 601px){
	body.admin-bar header.sticky{
		top:46px
	}
}

@media only screen and (max-width: 992px) and (min-width: 779px){
	body.admin-bar .popup-mobile-manu,
	body.admin-bar .side-nav {
		top:0
	}
}
@media only screen and (max-width: 779px) and (min-width: 601px){
	body.admin-bar .popup-mobile-manu,
	body.admin-bar .side-nav {
		top:0
	}
}
@media only screen and (max-width: 600px){
	body.admin-bar .popup-mobile-manu,
	body.admin-bar .side-nav {
		top:0
	}
}

@media only screen and (max-width: 992px) and (min-width: 779px){
	body.admin-bar  .axil-scroll-nav.navbar.navbar-example2.is-affixed .nav{
		top:32px !important;
	}
}
@media only screen and (max-width: 779px) and (min-width: 601px){
	body.admin-bar  .axil-scroll-nav.navbar.navbar-example2.is-affixed .nav {
		top:46px !important;
	}
}
@media only screen and (max-width: 600px){
	body.admin-bar  .axil-scroll-nav.navbar.navbar-example2.is-affixed .nav{
		top:46px !important;
	}
}


/*-- Preloader --*/
#preloader {
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
	left: 0;
	overflow: visible;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999999;
}


/* Text Loading*/
.text-loading .button-text {
	position: relative;
}
.text-loading .button-text::after {
	content: " Please wait... ";
	display: block;
	position: absolute;
	bottom: -45px;
	left: 50%;
	width: 100%;
	font-size: 17px;
	color: #666666;
	font-weight: normal;
	text-transform: none;
	text-align: center;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.disabled {
	pointer-events: none;
	opacity: .65;
}



.axil-footer #info-widget-first-logo,
.axil-footer #info-widget-second-logo,
.axil-footer #keystroke_info_widget-1,
.axil-footer #keystroke_info_widget-2,
.page-startup .axil-footer  #mc4wp_form_widget-1,
.page-services-two .axil-footer  #mc4wp_form_widget-1{
	display: none;
}
.page-startup .axil-footer #info-widget-second-logo,
.page-startup .axil-footer #keystroke_info_widget-1,
.page-services-two .axil-footer #info-widget-first-logo,
.page-services-two .axil-footer #keystroke_info_widget-2{
	display: block;
}

/* Comment section */
a#cancel-comment-reply-link {
	margin-left: 10px;
}
.comment-respond p.must-log-in {
	margin-bottom: 0;
}