body {
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    color: #757589;
}

.edit-post-visual-editor {
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/*Editor width*/

body {
    text-rendering: optimizeLegibility;
}

/* New Code  */
.wp-block {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (min-width: 1200px) {
    .wp-block {
        max-width: 1260px;
    }
}
@media only screen and (max-width: 1599px) and (min-width: 1200px) {
    .wp-block {
        max-width: 1140px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .wp-block {
        max-width: 930px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .wp-block {
        max-width: 690px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .wp-block {
        max-width: 510px;
    }
}






/* New Code  */

.heading_typography h1,
.heading_typography h2,
.heading_typography h3,
.heading_typography h4,
.heading_typography h5,
.heading_typography h6 {
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 20px 0;
    color: #000248;
}

.heading_typography h1 {
    font-size: 56px;
    line-height: 66px;
}

.editor-post-title .editor-post-title__input {
    font-size: 56px !important;
    line-height: 66px !important;
    font-weight: 700 !important;
    margin-bottom: 0 !important;
}



@media only screen and (max-width: 1599px) and (min-width: 1200px) {
    .editor-post-title .editor-post-title__input {
        font-size: 50px !important;
        line-height: 66px !important;
    }
}


@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .editor-post-title .editor-post-title__input {
        font-size: 48px !important;
        line-height: 64px !important;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .editor-post-title .editor-post-title__input {
        font-size: 52px !important;
        line-height: 55px !important;
    }
}

@media only screen and (max-width: 767px) {
    .editor-post-title .editor-post-title__input {
        font-size: 40px !important;
        line-height: 50px !important;
    }
}



.heading_typography h2 {
    font-size: 50px;
    line-height: 62px;
}

.heading_typography h3 {
    font-size: 35px;
    line-height: 46px;
}

.heading_typography h4 {
    font-size: 26px;
    line-height: 32px;
}

.heading_typography h5 {
    line-height: 26px;
    font-size: 18px;
}

.heading_typography h6 {
    font-size: 16px;
    line-height: 22px;
}

.editor-post-title__block .editor-post-title__input {
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 20px 0;
    color: #000248;
    font-size: 36px;
    line-height: 40px;
}

.wp-block.editor-post-title.editor-post-title__block {
    margin-bottom: 0;
}

.edit-post-visual-editor__post-title-wrapper .editor-post-title .editor-post-title__input {
    margin-bottom: 5px !important;
}

.editor-post-title .editor-post-title__block {
    margin-bottom: 0;
}


.wp-block h1,
.wp-block h2,
.wp-block h3,
.wp-block h4,
.wp-block h5,
.wp-block h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 20px 0;
    color: #000248;
}


.wp-block h1,
h1 {
    font-size: 56px;
    line-height: 66px;
}

.wp-block h2,
h2 {
    font-size: 50px;
    line-height: 62px;
}

.wp-block h3,
h3 {
    font-size: 35px;
    line-height: 46px;
}

.wp-block h4,
h4 {
    font-size: 26px;
    line-height: 32px;
}

.wp-block h5,
h5 {
    line-height: 26px;
    font-size: 18px;
}

.wp-block h6,
h6 {
    font-size: 16px;
    line-height: 22px;
}

.editor-styles-wrapper {
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h1,
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h2,
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h3,
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h4,
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h5,
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h6 {
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 20px 0;
    color: #000248;
}

.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h1 {
    font-size: 56px;
    line-height: 66px;
}

.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h2 {
    font-size: 50px;
    line-height: 62px;
}

.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h3 {
    font-size: 35px;
    line-height: 46px;
}

.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h4 {
    font-size: 26px;
    line-height: 32px;
}

.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h5 {
    line-height: 26px;
    font-size: 18px;
}

.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h6 {
    font-size: 16px;
    line-height: 22px;
}

.wp-block-freeform.block-library-rich-text__tinymce h1,
.wp-block-freeform.block-library-rich-text__tinymce h2,
.wp-block-freeform.block-library-rich-text__tinymce h3,
.wp-block-freeform.block-library-rich-text__tinymce h4,
.wp-block-freeform.block-library-rich-text__tinymce h5,
.wp-block-freeform.block-library-rich-text__tinymce h6 {
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 20px 0;
    color: #000248;
}

.wp-block-freeform.block-library-rich-text__tinymce h1 {
    font-size: 56px;
    line-height: 66px;
}

.wp-block-freeform.block-library-rich-text__tinymce h2 {
    font-size: 50px;
    line-height: 62px;
}

.wp-block-freeform.block-library-rich-text__tinymce h3 {
    font-size: 35px;
    line-height: 46px;
}

.wp-block-freeform.block-library-rich-text__tinymce h4 {
    font-size: 26px;
    line-height: 32px;
}

.wp-block-freeform.block-library-rich-text__tinymce h5 {
    line-height: 26px;
    font-size: 18px;
}

.wp-block-freeform.block-library-rich-text__tinymce h6 {
    font-size: 16px;
    line-height: 22px;
}

.alignfull,
.wp-block[data-align=full] {
    max-width: none !important;
    width: auto;
}

.alignfull iframe,
.alignfull img,
.wp-block[data-align=full] iframe,
.wp-block[data-align=full] img {
    width: 100%;
}

.alignwide,
.editor-styles-wrapper .alignwide {
    max-width: 1400px;
    width: auto;
}

@media only screen and (max-width: 1599px) and (min-width: 1200px) {

    .alignwide,
    .editor-styles-wrapper .alignwide {
        max-width: 1240px !important;
        width: auto;
    }
}

.alignwide figure,
.alignwide img,
.alignwide video,
.alignwide iframe {
    width: 100%;
}

figure {
    margin: 1em 0;
}

figcaption {
    margin-bottom: 30px !important;
}

ul,
ol {
    margin-bottom: 30px;
}



[data-align="center"] .wp-block-categories ul {
    padding-left: 0;
    list-style: inside;
    text-align: center;
}

ul li,
ol li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

a {
    cursor: pointer;
}

ul li a,
ol li a {
    color: #000248 !important;
}

ul li a:hover,
ol li a:hover {
    color: #702FFF !important;
}

.editor-styles-wrappe {
    color: #646464;
}

.editor-rich-text__tinymce {
    font-family: 'Roboto';
}


.wp-block-separator {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.wp-block-separator.is-style-wide {
    border-bottom-width: 1px;
}

p {
    font-size: 18px;
    color: #757589;
    font-family: 'DM Sans', sans-serif !important;
    line-height: 1.7;
    margin: 0 0 22px 0;
    font-weight: 400;
}

@media only screen and (max-width: 767px) {
    p {
        font-size: 16px;
        line-height: 1.7;
    }
}

/*code tag*/
.editor-styles-wrapper code,
.editor-styles-wrapper kbd,
.editor-styles-wrapper pre,
.editor-styles-wrapper samp,
.editor-styles-wrapper tt,
.editor-styles-wrapper var {
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 14px;
}

.wp-block-code {
    font-family: "Courier 10 Pitch", Courier, monospace !important;
    font-size: 15px !important;
    margin: 22px 0;
    overflow: auto;
    padding: 20px !important;
    white-space: pre !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    color: var(--color-body) !important;
    background: #eee;
    border-radius: 4px;
}

pre,
.wp-block-freeform.block-library-rich-text__tinymce pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    line-height: 1.6;
    margin-bottom: 10px;
    max-width: 100%;
    overflow: auto;
    padding: 20px;
    font-size: 14px;
    color: #757589;
    border-radius: 4px;
}

.wp-block-code textarea {
    color: var(--color-body) !important;
    background: #eee;
    border-radius: 0;
}

.wp-block-freeform.block-library-rich-text__tinymce code,
code {
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 14px;
    color: #702FFF;
    word-break: break-word;
    background: transparent;
}

.wp-block-freeform.block-library-rich-text__tinymce a {
    color: #000248;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

cite {
    font-weight: 400;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 15px 0;
    width: 100%;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

code,
kbd,
pre,
samp,
tt,
var {
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 14px;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}


select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(assets/images/icons/arrow-icon.png) right 20px center no-repeat transparent;
    cursor: pointer;
    color: var(--color-body);
    padding: 0 20px;
    border-radius: 0;
    height: 46px;
    border: 1px solid #D3D3D3;
    font-size: 18px;
    padding-right: 32px;
    width: 100%;
}


input:focus,
input:active,
button:focus,
button:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
    outline: none;
    border-color: var(--color-primary);
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

dfn,
cite,
em {
    font-style: italic;
}



address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

pre.editor-rich-text__tinymce {
    font-family: "Courier 10 Pitch", Courier, monospace;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: rgba(112, 47, 255, 0.4);
    ;
    text-decoration: none;
    padding: 0 5px;
}

big {
    font-size: 125%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 15px 0;
    width: 100%;
}

table th,
table td {
    border: 1px solid #d7d7d7;
    padding: 0.5em;
}

dt {
    font-weight: bold;
    margin-bottom: 10px;
    color: #000248;
}

ol ul,
ul ul {
    list-style-type: disc;
}

ul {
    margin: 0 0 20px 20px;
    padding-left: 20px;
}

ul.editor-rich-text__tinymce {
    padding-left: 0;
}

ol {
    margin: 0 0 1em 1em;
    padding-left: 20px;
}

li>ul,
li>ol {
    margin-bottom: 0;
}

li {
    margin-bottom: 0;
}


address {
    margin: 0 0 1.5em;
    font-style: normal;
    line-height: inherit;
}

code,
kbd,
pre,
samp,
tt,
var {
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 14px;
}

kbd {
    padding: 0.2rem 0.4rem;
    color: #fff;
    background-color: #212529;
    border-radius: 0.2rem;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 14px;
}

th {
    font-weight: 500;
    text-transform: uppercase;
}

del {
    color: #333;
}

dl.wp-caption a,
.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption a {
    display: inline-block;
}

a:link,
a:visited {
    color: #000248;
    text-decoration: none;
}

.wp-block-categories ul,
ul.wp-block-archives {
    padding-left: 0;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 20px;
}

ul.wp-block-gallery {
    margin-left: 0;
    padding-left: 0;
}

p.wp-block-subhead {
    color: #646464;
}

.wp-block-latest-posts {
    padding-left: 0;
}

.wp-block-table__cell-content {
    padding: 0;
}

.wp-block-separator.is-style-dots {
    background: none;
    border: none;
    text-align: center;
    max-width: none;
    line-height: 1;
    height: auto;
}

.wp-block-separator.is-style-dots:before {
    content: "\B7   \B7   \B7";
    color: #191e23;
    font-size: 20px;
    letter-spacing: 2em;
    padding-left: 2em;
    font-family: serif;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    max-width: 100%;
}

.wp-block-categories ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

/*=================================
## Wp Frontend Gutenberg block
===================================*/
/*Button*/
.wp-block-button__link {
    background-color: #4c1864;
    border-radius: 4px;
    color: #fff !important;
    padding: 12px 20px;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    line-height: 22px;
    border: 1px solid;
}

.wp-block-button__link:hover {
    color: #ffffff !important;
    background: #4c1864;
    border: 1px solid #4c1864;
    cursor: pointer;
}

.wp-block-button__link i:before {
    font-size: 14px;
    margin-left: 10px;
}

.wp-block-separator {
    clear: both;
}


/*-------------------------
    Only frontend
-----------------------------*/

ul.wp-block-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0;
    padding-left: 0;
}

.blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
    margin: 0 16px 16px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.blocks-gallery-image figure,
.blocks-gallery-item figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.blocks-gallery-image figure,
.blocks-gallery-item figure {
    margin: 0;
    height: 100%;
}

.wp-block-cover .wp-block-cover-text {
    color: #ffffff;
}

.wp-block-gallery.is-cropped .blocks-gallery-image a,
.wp-block-gallery.is-cropped .blocks-gallery-image img,
.wp-block-gallery.is-cropped .blocks-gallery-item a,
.wp-block-gallery.is-cropped .blocks-gallery-item img {
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -o-object-fit: cover;
    object-fit: cover;
}

.wp-block-cover-image .block-editor-block-list__block p,
.wp-block-cover .block-editor-block-list__block p,
.wp-block-cover .block-editor-block-list__block a {
    color: #ffffff;
}

.wp-block-cover .block-editor-block-list__block a {
    transition: 0.3s;
}

.wp-block-cover .block-editor-block-list__block a:hover {
    color: #702fff;
}


/*-----------------------
    BlockQuote  
--------------------------*/

blockquote,
blockquote p,
.blockquote,
.blockquote p,
.wp-block-quote,
.wp-block-quote p {
    font-family: 'DM Sans', sans-serif !important;
    font-size: 20px;
    line-height: 1.7;
    color: #757589;
    font-style: normal;
    border: none;
    margin-bottom: 0;
}




blockquote,
.blockquote,
.wp-block-quote,
.wp-block-quote.is-style-large,
blockquote.twitter-tweet {
    border-radius: 0;
    padding: 30px !important;
    position: relative;
    border-left: 4px solid #702FFF !important;
    font-size: 20px;
    line-height: 1.7;
    font-style: italic;
    margin: 40px 0 !important;
    background: #FAFAFB;
}

blockquote.is-large,
blockquote.is-style-large,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
    padding: 30px 63px;
    margin: 45px 0px 45px;
    border: none;
}

.wp-block-pullquote.alignright blockquote p,
.wp-block-pullquote.alignleft blockquote p,
.wp-block-pullquote p {
    font-size: 20px;
    line-height: 1.7;
}

.wp-block-quote.is-style-large p,
.wp-block-quote.is-large p {
    font-size: 24px;
    line-height: 1.7;
    font-style: normal;
}

blockquote.has-text-align-right,
.alignright blockquote {
    border-left: 0 !important;
    border-right: 4px solid #702FFF !important;
}

blockquote cite,
.wp-block-quote cite,
.wp-block-pullquote cite {
    color: #000248;
    font-size: 13px;
    margin-top: 1em;
    position: relative;
}

.wp-block-quote.is-style-large .wp-block-quote__citation,
.wp-block-quote.is-large .wp-block-quote__citation {
    font-size: 18px;
    color: #000248;
    font-style: normal;
    margin-top: 1em;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote p {
    margin: 0;
}

.wp-block-quote__citation {
    margin-top: 1em;
}

.wp-block-quote__citation {
    color: #000248;
}

/* pullquote */

.wp-block-pullquote {
    border-color: transparent;
    border-width: 2px;
}

.wp-block-pullquote p {
    font-size: 20px;
    line-height: 1.7;
}

.wp-block-pullquote blockquote {
    margin: 0 !important;
    border: 0 none !important;
}

.wp-block-pullquote {
    padding: 30px 0;
}

.wp-block-quote .wp-block-quote__citation br:last-child {
    display: none;
}

.wp-block-pullquote.is-style-solid-color {
    border: none;
}

/*--------------------
    End Quote  
----------------------*/


.wp-block-image figcaption,
figcaption {
    font-size: 16px;
    line-height: 22px;
    margin: 10px 0 0;
    color: #757589;
}

.mce-content-body {
    line-height: 1.7;
}

.wp-block-freeform.block-library-rich-text__tinymce li {
    margin: 10px 0;
}

.wp-block-freeform.block-library-rich-text__tinymce p {
    margin: 15px 0;
    line-height: 1.7;
}

.wp-block-freeform.block-library-rich-text__tinymce ol {
    padding-left: 18px;
}

.wp-block-freeform.block-library-rich-text__tinymce ul {
    padding-left: 20px;
}

code,
kbd,
tt,
var {
    font-size: 15px;
    color: #ff4f00;
}

.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce code,
.editor-styles-wrapper code {
    font-size: 15px;
    color: #ff4f00;
}

pre code br:last-child {
    display: none;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote {
    padding: 50px 75px;
    border: none;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote p {
    position: relative;
}




.wp-block-quote[style*="text-align:right"] p::before,
.wp-block-quote[style*="text-align: right"] p::before {
    left: auto;
    right: -10px;
}


/* default */

.wp-block-pullquote {
    border-top: 4px solid #702FFF;
    border-bottom: 4px solid #702FFF;
    margin-bottom: 28px;
    color: #6B7074;
}

.wp-block-pullquote blockquote p::before,
.wp-block-pullquote .blockquote p::before,
.wp-block-pullquote .wp-block-quote p::before {
    position: static;
    display: block;
    margin: 0 auto;
}

.block-library-list ol,
.block-library-list ul {
    padding-left: 30px;
    margin-left: 0;
}

.wp-block-separator {
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid #E6E6E6;
    background: transparent;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    max-width: 100px;
}



.blocks-gallery-grid .blocks-gallery-image:last-child,
.blocks-gallery-grid .blocks-gallery-item:last-child,
.wp-block-gallery .blocks-gallery-image:last-child,
.wp-block-gallery .blocks-gallery-item:last-child {
    margin-right: 0;
}


.alignleft,
.wp-block-freeform.block-library-rich-text__tinymce .alignleft {
    float: left;
    margin-right: 30px !important;
    margin-bottom: 15px;
    margin-top: 9px;
    text-align: left;
}


.alignright,
.wp-block-freeform.block-library-rich-text__tinymce .alignright {
    float: right;
    margin-left: 30px !important;
    margin-bottom: 15px;
    margin-top: 9px;
    text-align: right;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.alignfull {
    margin-bottom: 15px;
}

.wp-block-cover-image .block-editor-block-list__block,
.wp-block-cover .block-editor-block-list__block {
    color: #494e51;
}

.wp-block-button__link,
.post-details .wp-block-button__link {
    text-decoration: none;
}

/* Main column width */


/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1400px !important;
}

@media only screen and (max-width: 1599px) and (min-width: 1200px) {
    .wp-block[data-align="wide"] {
        max-width: 1240px !important;
    }
}

.wp-block[data-align="wide"] .wp-block-embed-vimeo {
    max-width: 1400px !important;
    width: auto;
}

@media only screen and (max-width: 1599px) and (min-width: 1200px) {
    .wp-block[data-align="wide"] .wp-block-embed-vimeo {
        max-width: 1240px !important;
        width: auto;
    }
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}

figure .blocks-gallery-grid {
    margin-bottom: 0;
}

.wp-block-pullquote blockquote {
    margin: 0;
}

figure .blocks-gallery-grid {
    padding: 0;
    margin: 0;
}



.wp-block-file .wp-block-file__button,
.wp-block-button__link {
    background: transparent;
    transition: all 0.5s;
    position: relative;
    display: inline-block;
    height: auto;
    line-height: 21px;
    text-decoration: none;
    padding: 11px 25px;
    z-index: 2;
    font-size: 16px;
    font-weight: 700;
    background: #ffffff;
    color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
}

.wp-block-file .wp-block-file__button::before,
.wp-block-button__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000248;
    transition: all 0.3s;
    border-radius: 50px;
}

.wp-block-file .wp-block-file__button::after,
.wp-block-button__link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s;
    border: 2px solid #000248;
    transform: scale(1.2, 1.2);
    border-radius: 50px;
}

.wp-block-file .wp-block-file__button:hover::before,
.wp-block-button__link:hover::before {
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
}

.wp-block-file .wp-block-file__button:hover::after,
.wp-block-button__link:hover::after {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.wp-block-file .wp-block-file__button:hover,
.wp-block-button__link:hover {
    color: #000248 !important;
    background: transparent;
    border-color: transparent;
    outline: none;
}


.wp-block-freeform.block-library-rich-text__tinymce .alignleft {
    margin: .5em 1em .5em 0;
}


.editor-styles-wrapper ul {
    padding-left: 20px !important;
}


table th,
table td {
    border: 1px solid #D3D3D3;
    padding: 7px 10px;
    text-align: center;
    font-weight: 500;
}


.gallery-item {
    margin-bottom: 46px;
    font-size: 16px;
    line-height: 1.7;
}

.gallery-item .gallery-caption,
.wp-caption-dds,
.wp-caption-dd {
    font-size: 16px;
    line-height: 22px;
    color: #757589;
    font-weight: 400;
    margin: 20px 0 0;
    text-align: center;
}

.wp-block-cover .block-editor-block-list__block,
.wp-block-cover-image .block-editor-block-list__block,
.editor-styles-wrapper .wp-block-cover-image .block-editor-block-list__block,
.editor-styles-wrapper .wp-block-cover .block-editor-block-list__block {
    color: #fff;
}

.wp-block-pullquote.is-style-solid-color blockquote {
    margin-left: auto !important;
    margin-right: auto !important;
}






.wp-block-calendar table caption {
    text-align: left;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

table,
.wp-block-calendar {
    font-size: 16px;
    line-height: 28px;
}

table th,
table td,
.wp-block-calendar th,
.wp-block-calendar td {
    border: 1px solid #D3D3D3;
    padding: 7px 10px;
    text-align: center;
    font-weight: 400;
}

.wp-block-calendar table th {
    font-weight: 400;
    background: #edeff0;
}

table tfoot td,
.wp-block-calendar tfoot td {
    border: 1px solid #D3D3D3;
}

table tfoot td a,
.wp-block-calendar tfoot td a {
    color: #000248;
}

table tfoot td a,
.wp-block-calendar tfoot td a {
    font-weight: 400 !important;
}

.wp-block-latest-comments {
    margin-left: 0;
    padding-left: 0;
}

.wp-block-latest-comments__comment-meta a,
.wp-block-latest-comments__comment-excerpt p {
    font-size: 15px;
}

.wp-block-latest-comments__comment-date {
    color: #8f98a1;
    display: block;
    font-size: 12px;
}

ul.wp-block-latest-posts li,
ul.wp-block-latest-posts li a {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
}

.wp-block-search .wp-block-search__label {
    font-weight: 400;
    margin-bottom: 20px;
}

.wp-block-tag-cloud {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}

.wp-block-tag-cloud a {
    background: transparent;
    display: inline-block;
    height: 40px;
    color: #757589;
    font-size: 15px !important;
    line-height: 35px;
    padding: 0 10px;
    text-decoration: none;
    border: 2px solid #D3D3D3;
    padding: 0 17px;
    margin: 5px;
    transition: all 0.5s;
}

.wp-block-tag-cloud a:hover {
    background: #702fff;
    color: #ffffff;
    border-color: #702fff;
}

.wp-block-freeform.block-library-rich-text__tinymce a:hover {
    color: #702fff;
}

ul.wp-block-rss {
    padding-left: 20px;
    margin-left: 0;
}

.wp-block-search .wp-block-search__button {
    margin-left: 10px;
    line-height: 32px;
    background: transparent;
    border: 1px solid #D3D3D3;
    box-shadow: none;
    color: #000248;
}

ul li a {
    transition: 0.3s;
}

ul li a:hover {
    color: #702FFF !important;
}


.wp-block-separator.is-style-dots:before {
    content: "\00b7 \00b7 \00b7" !important;
}

pre code {
    color: inherit;
}


.wp-block-table td,
.wp-block-table th {
    padding: .5em;
}

cite {
    color: #000248;
}

kbd,
ins {
    color: #ffffff;
}

ins {
    background: rgba(112, 47, 255, 0.4);
    text-decoration: none;
}

kbd {
    background: #000248;
}

tt {
    color: #757589;
    font-size: 18px;
}

var {
    color: #757589;
    font-size: 18px;
}

.wp-block-freeform.block-library-rich-text__tinymce .wp-caption.aligncenter {
    margin-left: auto;
    margin-right: auto;
}

.wp-block-freeform.block-library-rich-text__tinymce .wp-caption.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
    margin-top: 0.9em;
    margin-bottom: 1.5em;
}


.wp-block-freeform.block-library-rich-text__tinymce p {
    margin-bottom: 22px;
}


.wp-block-latest-posts__post-date {
    font-weight: 400;
}


/* ---------------------------------
    OutLine Button  
---------------------------------*/
.wp-block-button.is-style-outline .wp-block-button__link {
    color: #000248 !important;
    border: 0 none;
}

.wp-block-button.is-style-outline .wp-block-button__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 2px solid #000248;
    transition: all 0.3s;
    background: transparent;
}

.wp-block-button.is-style-outline .wp-block-button__link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: #000248;
    transition: all 0.3s;
    transform: scale(0.5, 0.5);
}

.wp-block-button.is-style-outline .wp-block-button__link:hover {
    color: #FFFFFF !important;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover::before {
    opacity: 0;
    transform: scale(1.2, 1.2);
    border-radius: 50px;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover::after {
    opacity: 1;
    transform: scale(1, 1);
    border-radius: 50px;
}


.wp-block-button .wp-block-button__link.no-border-radius {
    border-radius: 0;
}

.wp-block-button .wp-block-button__link.no-border-radius::before {
    border-radius: 0;
}

.wp-block-button .wp-block-button__link.no-border-radius::after {
    border-radius: 0;
}

/* End Button  */


.wp-block[data-align=center]>.wp-block-image {
    margin-bottom: 30px;
}

.wp-block[data-align=left]>.wp-block-image,
.wp-block[data-align=left]>* {
    margin-right: 30px !important;
}

.wp-block[data-align=right]>.wp-block-image,
.wp-block[data-align=right]>* {
    margin-left: 30px !important;
}

.block-editor-block-list__block {
    margin-top: 0;
    margin-bottom: 15px;
}

.has-large-font-size {
    font-size: 36px;
    line-height: 1.6;
    font-weight: 400;
}

.blocks-gallery-grid .blocks-gallery-item figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
    margin-bottom: 0 !important;
}

.wp-block-cover.alignwide {
    max-width: 1400px !important;
    width: auto;
}

@media only screen and (max-width: 1599px) and (min-width: 1200px) {
    .wp-block-cover.alignwide {
        max-width: 1240px !important;
        width: auto;
    }
}


/*-----------------------
 New Code  For Submit 
-----------------------*/

.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
    width: calc(100%);
    padding: 15px;
}

.wp-block-cover p.has-large-font-size {
    font-size: 36px;
    line-height: 1.6;
}

[data-type="core/cover"][data-align="left"] .is-block-content,
[data-type="core/cover"][data-align="right"] .is-block-content {
    margin-bottom: 22px;
}

[data-type="core/cover"][data-align="left"] .is-block-content p.wp-block,
[data-type="core/cover"][data-align="right"] .is-block-content p.wp-block {
    margin-bottom: 0 !important;
}

[data-align="left"] [data-type="core/cover"] p.wp-block,
[data-align="right"] [data-type="core/cover"] p.wp-block {
    margin-bottom: 0 !important;
    white-space: inherit !important;
}




.wp-caption-dt {
    margin-bottom: 0;
}

.gallery-item .gallery-caption,
.wp-caption-dds,
.wp-caption-dd {
    padding-top: 5px !important;
}

.block-editor-block-list__layout .block-editor-block-list__block[data-align=left]>.block-editor-block-list__block-edit {
    margin-right: 30px !important;
}


.wp-block-freeform.block-library-rich-text__tinymce .alignright,
.wp-block-freeform.block-library-rich-text__tinymce .alignleft {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}



.block-editor-block-list__block {
    margin-bottom: 22px;
}

.wp-calendar-nav {
    text-align: left;
}

.wp-block-pullquote__citation,
cite,
.wp-block-pullquote cite,
.wp-block-pullquote.is-style-solid-color blockquote cite,
.wp-block-quote cite {
    color: #000248;
}

/* New Code  */



.blocks-gallery-grid .blocks-gallery-image figcaption,
.blocks-gallery-grid .blocks-gallery-item figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
    padding: 40px 20px 20px;
}



/* -------------------
wp-block-columns 
------------------------*/
.wp-block-columns>.block-editor-inner-blocks>.block-editor-block-list__layout>[data-type="core/column"]>.block-core-columns>.block-editor-inner-blocks {
    margin-top: -22px;
    margin-bottom: -22px;
}

@media (min-width: 768px) {

    [data-type="core/columns"][data-align=full] .wp-block-columns,
    [data-align="full"] .wp-block-columns {
        padding-left: 30px;
        padding-right: 30px;
    }
}


[data-type="core/columns"] .block-list-appender {
    margin-top: 22px;
    margin-bottom: 22px;
}

@media only screen and (max-width: 767px) {
    [data-type="core/columns"][data-align=full] .wp-block-columns {
        padding-left: 15px;
        padding-right: 15px;
    }

    .wp-block-columns>.block-editor-inner-blocks>.block-editor-block-list__layout>[data-type="core/column"] {
        margin: 0 15px;
    }
}

.wp-block-columns.alignfull,
.alignfull:not(.has-background) .wp-block-columns {
    padding-left: 30px;
    padding-right: 30px;
}

.wp-block-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 22px;
}

.wp-block-column {
    margin: 0;
}

.wp-block-column p {
    margin: 22px 0;
}

.wp-block-column>*:last-child {
    margin-bottom: 0;
}

.wp-block-column>*:first-child {
    margin-top: 0;
}



.wp-block-column {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@media (max-width: 764px) {
    .wp-block-columns.has-3-columns {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .has-3-columns .wp-block-column:first-child {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

@media (max-width: 478px) {
    .wp-block-columns.has-3-columns {
        display: block;
    }
}

.wp-block-columns .block-editor-inner-blocks {
    display: block;
    width: 100%;
}

.wp-block-column ol,
.wp-block-column ul {
    margin-top: 22px;
    margin-bottom: 22px;
}

.wp-block-column figure {
    margin: 22px 0;
}

.wp-block-cover__inner-container p {
    margin-bottom: 0;
}

.wp-block-cover-image .block-editor-block-list__block p,
.wp-block-cover .block-editor-block-list__block p,
.wp-block-cover .block-editor-block-list__block a {
    white-space: inherit !important;
}