@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mzajao');
  src:  url('fonts/icomoon.eot?mzajao#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mzajao') format('truetype'),
    url('fonts/icomoon.woff?mzajao') format('woff'),
    url('fonts/icomoon.svg?mzajao#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-404:before {
  content: "\e900";
  color: #fff;
}
.icon-01 .path1:before {
  content: "\e901";
  color: rgb(0, 0, 0);
  opacity: 0.0080;
}
.icon-01 .path2:before {
  content: "\e902";
  margin-left: -2.392578125em;
  color: rgb(0, 0, 0);
  opacity: 0.0022;
}
.icon-01 .path3:before {
  content: "\e903";
  margin-left: -2.392578125em;
  color: rgb(255, 255, 255);
}
.icon-01 .path4:before {
  content: "\e904";
  margin-left: -2.392578125em;
  color: rgb(216, 216, 216);
  opacity: 0.4981;
}
.icon-02 .path1:before {
  content: "\e905";
  color: rgb(0, 0, 0);
}
.icon-02 .path2:before {
  content: "\e906";
  margin-left: -2.5234375em;
  color: rgb(0, 0, 0);
}
.icon-02 .path3:before {
  content: "\e907";
  margin-left: -2.5234375em;
  color: rgb(0, 0, 0);
  opacity: 0.125;
}
.icon-02 .path4:before {
  content: "\e908";
  margin-left: -2.5234375em;
  color: rgb(0, 0, 0);
  opacity: 0.0013;
}
.icon-02 .path5:before {
  content: "\e909";
  margin-left: -2.5234375em;
  color: rgb(0, 0, 0);
}
.icon-02 .path6:before {
  content: "\e90a";
  margin-left: -2.5234375em;
  color: rgb(0, 0, 0);
}
.icon-02 .path7:before {
  content: "\e90b";
  margin-left: -2.5234375em;
  color: rgb(0, 0, 0);
  opacity: 0.0001;
}
.icon-02 .path8:before {
  content: "\e90c";
  margin-left: -2.5234375em;
  color: rgb(0, 0, 0);
}
.icon-02 .path9:before {
  content: "\e90d";
  margin-left: -2.5234375em;
  color: rgb(0, 0, 0);
  opacity: 0.0001;
}
.icon-02 .path10:before {
  content: "\e90e";
  margin-left: -2.5234375em;
  color: rgb(0, 0, 0);
}
.icon-02 .path11:before {
  content: "\e90f";
  margin-left: -2.5234375em;
  color: rgb(0, 0, 0);
  opacity: 0.0001;
}
.icon-02 .path12:before {
  content: "\e910";
  margin-left: -2.5234375em;
  color: rgb(0, 0, 0);
}
.icon-02 .path13:before {
  content: "\e911";
  margin-left: -2.5234375em;
  color: rgb(0, 0, 0);
  opacity: 0.0001;
}
.icon-02 .path14:before {
  content: "\e912";
  margin-left: -2.5234375em;
  color: rgb(0, 0, 0);
}
.icon-02 .path15:before {
  content: "\e913";
  margin-left: -2.5234375em;
  color: rgb(0, 0, 0);
  opacity: 0.0001;
}
.icon-02 .path16:before {
  content: "\e914";
  margin-left: -2.5234375em;
  color: rgb(0, 0, 0);
}
.icon-02 .path17:before {
  content: "\e915";
  margin-left: -2.5234375em;
  color: rgb(0, 0, 0);
  opacity: 0.0001;
}
.icon-03 .path1:before {
  content: "\e916";
  color: rgb(0, 0, 0);
  opacity: 0.0080;
}
.icon-03 .path2:before {
  content: "\e917";
  margin-left: -1.322265625em;
  color: rgb(0, 0, 0);
  opacity: 0.0022;
}
.icon-03 .path3:before {
  content: "\e918";
  margin-left: -1.322265625em;
  color: rgb(0, 0, 0);
  opacity: 0.0080;
}
.icon-03 .path4:before {
  content: "\e919";
  margin-left: -1.322265625em;
  color: rgb(0, 0, 0);
  opacity: 0.0022;
}
.icon-03 .path5:before {
  content: "\e91a";
  margin-left: -1.322265625em;
  color: rgb(0, 0, 0);
  opacity: 0.0080;
}
.icon-03 .path6:before {
  content: "\e91b";
  margin-left: -1.322265625em;
  color: rgb(0, 0, 0);
  opacity: 0.0022;
}
.icon-03 .path7:before {
  content: "\e91c";
  margin-left: -1.322265625em;
  color: rgb(47, 54, 118);
}
.icon-03 .path8:before {
  content: "\e91d";
  margin-left: -1.322265625em;
  color: rgb(178, 139, 103);
}
.icon-03 .path9:before {
  content: "\e91e";
  margin-left: -1.322265625em;
  color: rgb(232, 118, 19);
}
.icon-03 .path10:before {
  content: "\e91f";
  margin-left: -1.322265625em;
  color: rgb(145, 91, 60);
}
.icon-03 .path11:before {
  content: "\e920";
  margin-left: -1.322265625em;
  color: rgb(178, 139, 103);
}
.icon-03 .path12:before {
  content: "\e921";
  margin-left: -1.322265625em;
  color: rgb(25, 24, 71);
}
.icon-03 .path13:before {
  content: "\e922";
  margin-left: -1.322265625em;
  color: rgb(153, 118, 89);
}
.icon-03 .path14:before {
  content: "\e923";
  margin-left: -1.322265625em;
  color: rgb(25, 24, 71);
}
.icon-03 .path15:before {
  content: "\e924";
  margin-left: -1.322265625em;
  color: rgb(211, 214, 236);
  opacity: 0.6;
}
.icon-03 .path16:before {
  content: "\e925";
  margin-left: -1.322265625em;
  color: rgb(255, 255, 255);
  opacity: 0.6;
}
.icon-03 .path17:before {
  content: "\e926";
  margin-left: -1.322265625em;
  color: rgb(178, 139, 103);
}
.icon-03 .path18:before {
  content: "\e927";
  margin-left: -1.322265625em;
  color: rgb(178, 139, 103);
}
.icon-03 .path19:before {
  content: "\e928";
  margin-left: -1.322265625em;
  color: rgb(232, 118, 19);
}
.icon-03 .path20:before {
  content: "\e929";
  margin-left: -1.322265625em;
  color: rgb(255, 155, 33);
}
.icon-03 .path21:before {
  content: "\e92a";
  margin-left: -1.322265625em;
  color: rgb(139, 143, 178);
  opacity: 0.2;
}
.icon-Background-with-color:before {
  content: "\e92b";
  color: #7a19ff;
}
.icon-background-shape:before {
  content: "\e92c";
  color: #fff;
}
.icon-bcm-01:before {
  content: "\e92d";
  color: #fff;
}
.icon-bcm-02:before {
  content: "\e92e";
  color: var(--color-primary-alt);
  font-size: 172px;
}
.icon-bcm-03:before {
  content: "\e92f";
  color: var(--color-secondary);
  font-size: 187px;
}
.icon-breadcrumb-1:before {
  content: "\e982";
  color: var(--extra04-color);
  font-size: 165px;
}
.icon-breadcrumb-2:before {
  content: "\e930";
  color: var(--color-primary-alt);
  font-size: 328px;
}
.icon-breadcrumb-3:before {
  content: "\e931";
  color: #fff;
  font-size: 140px;
}
.icon-code:before {
  content: "\e932";
}
.icon-comming-01:before {
  content: "\e933";
  color: #fff;
}
.icon-comming-soon .path1:before {
  content: "\e934";
  color: rgb(178, 139, 103);
}
.icon-comming-soon .path2:before {
  content: "\e935";
  margin-left: -0.5986328125em;
  color: rgb(25, 24, 71);
}
.icon-comming-soon .path3:before {
  content: "\e936";
  margin-left: -0.5986328125em;
  color: rgb(178, 139, 103);
}
.icon-comming-soon .path4:before {
  content: "\e937";
  margin-left: -0.5986328125em;
  color: rgb(47, 54, 118);
}
.icon-comming-soon .path5:before {
  content: "\e938";
  margin-left: -0.5986328125em;
  color: rgb(228, 228, 228);
}
.icon-comming-soon .path6:before {
  content: "\e939";
  margin-left: -0.5986328125em;
  color: rgb(153, 118, 89);
}
.icon-comming-soon .path7:before {
  content: "\e93a";
  margin-left: -0.5986328125em;
  color: rgb(228, 228, 228);
}
.icon-comming-soon .path8:before {
  content: "\e93b";
  margin-left: -0.5986328125em;
  color: rgb(92, 99, 171);
}
.icon-comming-soon .path9:before {
  content: "\e93c";
  margin-left: -0.5986328125em;
  color: rgb(178, 139, 103);
}
.icon-comming-soon .path10:before {
  content: "\e93d";
  margin-left: -0.5986328125em;
  color: rgb(219, 39, 33);
}
.icon-comming-soon .path11:before {
  content: "\e93e";
  margin-left: -0.5986328125em;
  color: rgb(221, 227, 233);
}
.icon-comming-soon .path12:before {
  content: "\e93f";
  margin-left: -0.5986328125em;
  color: rgb(255, 65, 51);
}
.icon-contact-01:before {
  content: "\e940";
  color: #fc0;
  font-size: 168px;
}
.icon-contact-02:before {
  content: "\e941";
  color: #fff;
  font-size: 155px;
}
.icon-contact-03:before {
  content: "\e942";
  color: var(--color-primary-alt);
  font-size: 402px;
}
.icon-icon-01 .path1:before {
  content: "\e943";
  color: rgb(0, 0, 0);
}
.icon-icon-01 .path2:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-icon-01 .path3:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon-01 .path4:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon-01 .path5:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-icon-01 .path6:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-icon-01 .path7:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-icon-01 .path8:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-02:before {
  content: "\e94b";
  color: #fefefe;
}
.icon-icon-03 .path1:before {
  content: "\e94c";
  color: rgb(0, 0, 0);
}
.icon-icon-03 .path2:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-icon-03 .path3:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon-03 .path4:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon-03 .path5:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-icon-03 .path6:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-icon-03 .path7:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-icon-03 .path8:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-04:before {
  content: "\e983";
  color: #fff;
}
.icon-keystoke-image-2 .path1:before {
  content: "\e954";
  color: rgb(178, 139, 103);
}
.icon-keystoke-image-2 .path2:before {
  content: "\e955";
  margin-left: -0.7353515625em;
  color: rgb(25, 24, 71);
}
.icon-keystoke-image-2 .path3:before {
  content: "\e956";
  margin-left: -0.7353515625em;
  color: rgb(153, 118, 89);
}
.icon-keystoke-image-2 .path4:before {
  content: "\e957";
  margin-left: -0.7353515625em;
  color: rgb(228, 228, 228);
}
.icon-keystoke-image-2 .path5:before {
  content: "\e958";
  margin-left: -0.7353515625em;
  color: rgb(219, 39, 33);
}
.icon-keystoke-image-2 .path6:before {
  content: "\e959";
  margin-left: -0.7353515625em;
  color: rgb(178, 139, 103);
}
.icon-keystoke-image-2 .path7:before {
  content: "\e95a";
  margin-left: -0.7353515625em;
  color: rgb(255, 65, 51);
}
.icon-keystoke-image-2 .path8:before {
  content: "\e95b";
  margin-left: -0.7353515625em;
  color: rgb(228, 228, 228);
}
.icon-keystoke-image-2 .path9:before {
  content: "\e95c";
  margin-left: -0.7353515625em;
  color: rgb(153, 118, 89);
}
.icon-keystoke-image-2 .path10:before {
  content: "\e95d";
  margin-left: -0.7353515625em;
  color: rgb(32, 38, 162);
}
.icon-keystoke-image-2 .path11:before {
  content: "\e95e";
  margin-left: -0.7353515625em;
  color: rgb(31, 40, 207);
}
.icon-keystoke-image-4 .path1:before {
  content: "\e95f";
  color: rgb(178, 139, 103);
}
.icon-keystoke-image-4 .path2:before {
  content: "\e960";
  margin-left: -0.8994140625em;
  color: rgb(25, 24, 71);
}
.icon-keystoke-image-4 .path3:before {
  content: "\e961";
  margin-left: -0.8994140625em;
  color: rgb(197, 207, 214);
}
.icon-keystoke-image-4 .path4:before {
  content: "\e962";
  margin-left: -0.8994140625em;
  color: rgb(178, 139, 103);
}
.icon-keystoke-image-4 .path5:before {
  content: "\e963";
  margin-left: -0.8994140625em;
  color: rgb(47, 54, 118);
}
.icon-keystoke-image-4 .path6:before {
  content: "\e964";
  margin-left: -0.8994140625em;
  color: rgb(178, 139, 103);
}
.icon-keystoke-image-4 .path7:before {
  content: "\e965";
  margin-left: -0.8994140625em;
  color: rgb(228, 228, 228);
}
.icon-keystoke-image-4 .path8:before {
  content: "\e966";
  margin-left: -0.8994140625em;
  color: rgb(228, 228, 228);
}
.icon-keystoke-image-4 .path9:before {
  content: "\e967";
  margin-left: -0.8994140625em;
  color: rgb(92, 99, 171);
}
.icon-keystoke-image-4 .path10:before {
  content: "\e968";
  margin-left: -0.8994140625em;
  color: rgb(178, 139, 103);
}
.icon-keystoke-image-4 .path11:before {
  content: "\e969";
  margin-left: -0.8994140625em;
  color: rgb(232, 118, 19);
}
.icon-keystoke-image-4 .path12:before {
  content: "\e96a";
  margin-left: -0.8994140625em;
  color: rgb(221, 227, 233);
}
.icon-keystoke-image-4 .path13:before {
  content: "\e96b";
  margin-left: -0.8994140625em;
  color: rgb(255, 155, 33);
}
.icon-keystoke-image-4 .path14:before {
  content: "\e96c";
  margin-left: -0.8994140625em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.icon-layer:before {
  content: "\e96d";
}
.icon-quote:before {
  content: "\e96e";
  color: var(--color-secondary);
}
.icon-shape-01:before {
  content: "\e96f";
  color: var(--color-primary-alt);
}
.icon-shape-02:before {
  content: "\e970";
  color: #fff;
}
.icon-shape-03:before {
  content: "\e971";
  color: var(--color-secondary);
}
.icon-shape-04:before {
  content: "\e972";
  color: var(--color-tertiary);
}
.icon-shape-05:before {
  content: "\e973";
  color: var(--color-primary-alt);
}
.icon-shape-06:before {
  content: "\e974";
  color: #fff;
  font-size: 127px;
}
.icon-shape-07:before {
  content: "\e975";
  color: var(--color-primary-alt);
}
.icon-shape-08:before {
  content: "\e976";
  color: var(--color-secondary);
}
.icon-shape-09:before {
  content: "\e977";
  color: #49ccff;
}
.icon-shape-10:before {
  content: "\e978";
  color: #fff;
  font-size: 86px;
}
.icon-shape-11:before {
  content: "\e979";
  color: var(--color-primary-alt);
}
.icon-shape-12:before {
  content: "\e97a";
  color: var(--color-primary-alt);
}
.icon-shape-13:before {
  content: "\e97b";
  color: var(--color-tertiary);
}
.icon-shape-14:before {
  content: "\e97c";
  color: var(--color-secondary);
  font-size: 352px;
}
.icon-shape-15:before {
  content: "\e97d";
  color: var(--extra04-color);
}


.icon-shape-16:before {
  content: "\e97e";
  color: var(--color-secondary);
}
.icon-shape-17:before {
  content: "\e97f";
  color: #fff;
}
.icon-shape-18:before {
  content: "\e980";
  color: var(--color-secondary);
}
.icon-shape-19:before {
  content: "\e981";
  color: var(--color-secondary);
  font-size: 314px;
}
