/*===========================
    Start Footer Area 
=============================*/


.footer-default {
    .footer-widget-item {
        &.axil-border-right {
            position: relative;

            &::after {
                position: absolute;
                right: 7%;
                content: "";
                height: 100%;
                width: 1px;
                background: #C7C7D5;
                top: 0;

                @media #{$lg-layout} {
                    display: none;
                }

                @media #{$md-layout} {
                    display: none;
                }

                @media #{$sm-layout} {
                    display: none;
                }
            }
        }

        h2 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 30px;

            @media #{$sm-layout} {
                margin-bottom: 10px;
            }
        }

        ul {
            &.ft-menu {
                li {
                    a {
                        color: $body-color;
                        line-height: 28px;
                        padding: 0;
                        @extend %fontWeight400;
                        text-decoration: none;

                        &:hover {
                            color: var(--color-primary);
                        }
                    }

                    &+li {
                        margin-top: 10px;
                    }
                }
            }
        }

        &.widget-last {
            position: relative;
            margin-left: -37px;

            @media #{$lg-layout} {
                margin-left: 0;
            }

            @media #{$md-layout} {
                margin-left: 0;
            }

            @media #{$sm-layout} {
                margin-left: 0;
            }
        }
    }

    // Footer Style Three 
    &.footer-style-3 {
        .ax-section-gap {
            padding-top: 110px;
            padding-bottom: 40px;

            @media #{$lg-layout} {
                padding-top: 100px;
                padding-bottom: 40px;
            }

            @media #{$md-layout} {
                padding-top: 82px;
                padding-bottom: 56px;
            }

            @media #{$sm-layout} {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        }
        .axil-basic-thine-line {
            border-top: 1px solid #52526E;
        }
        .footer-widget-item {
            &.axil-border-right {
                &::after {
                    display: none;
                }
            }

            .logo {
                a {
                    svg {
                        @media #{$lg-layout} {
                            width: 200px;
                        }
                    }
                }
            }

            h6 {
                &.title {
                    color: #ffffff;
                    font-size: 22px;
                    line-height: 26px;
                    font-weight: 700;
                    margin-bottom: 35px;

                    @media #{$md-layout} {
                        margin-bottom: 20px;
                    }

                    @media #{$sm-layout} {
                        margin-bottom: 20px;
                    }
                }
            }

            h2 {
                margin-bottom: 10px;
                color: #C7C7D6;
            }

            p {
                margin-bottom: 30px;
                color: #C7C7D6;
                font-size: 18px;
                line-height: 28px;
                font-weight: 400;
            }

            .newsletter-form {
                input {
                    width: 255px;
                }
            }

            ul {
                &.menu {
                    li {
                        a {
                            color: #C7C7D6;
                            padding: 0;
                            text-decoration: none;
                            font-size: 18px;
                            transition: 0.3s;

                            @media #{$lg-layout} {
                                font-size: 16px;
                                line-height: 20px;
                            }

                            @media #{$md-layout} {
                                line-height: 20px;
                            }

                            @media #{$sm-layout} {
                                font-size: 16px;
                                line-height: 22px;
                            }

                            &:hover {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }

            .axil-ft-address {
                margin-top: 35px;

                @media #{$md-layout} {
                    margin-top: 16px;
                }

                @media #{$sm-layout} {
                    margin-top: 16px;
                }

                .address {
                    p {
                        color: #C7C7D6;
                        font-size: 18px;
                        line-height: 28px;
                        font-weight: 400;
                        margin-bottom: 0;
                        display: flex;

                        @media #{$lg-layout} {
                            padding-right: 0;
                        }
                        @media #{$md-layout} {
                            padding-right: 0;
                        }

                        @media #{$sm-layout} {
                            padding-right: 0;
                        }

                        span {
                            font-size: 16px;
                            line-height: 22px;
                            display: inline-block;
                            font-weight: 700;
                            padding-right: 12px;

                            &.address-info {
                                color: #C7C7D6;
                                font-size: 18px;
                                line-height: 28px;
                                font-weight: 400;
                                margin-bottom: 0;
                                padding-right: 0;
                            }

                            &:first-child {
                                margin-top: 4px;
                            }
                        }

                        a {
                            color: #C7C7D6;
                            text-decoration: none;
                            font-weight: 400;
                        }

                        & + p {
                            margin-top: 20px;
                        }

                        &:first-child {
                            span {
                                &.address-info {
                                    padding-right: 27%;
                                    @media #{$md-layout} {
                                        padding-right: 0;
                                    }
                                    @media #{$sm-layout} {
                                        padding-right: 0;
                                    }
                                }
                            }
                        }
                    }
                   
                }
            }
        }

        .copyright-default {
            .inner {
                p {
                    color: #F6F5FA;

                    a {
                        color: #F6F5FA;
                    }
                }
            }

            .quick-contact {
                ul {
                    li {
                        a {
                            color: #F6F5FA;

                            &:hover {
                                color: var(--color-primary);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media #{$lg-layout} {
    .footer-style-3 .footer-top.ax-section-gap .col-xl-3:nth-child(2) .footer-widget-item {
        position: relative;
        left: 30px;
    }
}




/*-----------------------
Footer Widget Item  
-------------------------*/

.footer-widget-item {
    .title {
        margin-bottom: 30px;
        font-size: 22px;

        @media #{$sm-layout} {
            margin-bottom: 14px;
        }

        @media #{$md-layout} {
            margin-bottom: 14px;
        }
    }

    ul.menu ,
    ul {
        @extend %liststyle;
        li {
            a {
                color: $body-color;
                line-height: 28px;
                padding: 0;
                @extend %fontWeight400;
                text-decoration: none;
                display: inline-block;
                padding: 0;
                position: relative;
                transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                z-index: 1;
                @extend %transition;

                @media #{$md-layout} {
                    line-height: 22px;
                }

                &:hover {
                    color: var(--color-primary);
                }
            }
            &+li {
                margin-top: 10px;
            }
        }
        ul {
            list-style: none;
        }
    }
}

/*-----------------------
Footer Style One  
-------------------------*/

.footer-default {
    &.axil-footer-style-1 {
        position: relative;

        .footer-widget-item {
            .logo {
                margin-bottom: 30px;
            }

            p {
                padding-right: 32%;
                display: flex;
                margin-bottom: 20px;

                @media #{$lg-layout} {
                    padding-right: 0;
                    font-size: 16px;
                    line-height: 26px;
                }

                @media #{$md-layout} {
                    padding-right: 0;
                    font-size: 16px;
                    line-height: 26px;
                }

                @media #{$sm-layout} {
                    padding-right: 0;
                    font-size: 16px;
                    line-height: 26px;
                }

                span {
                    color: $heading-color;
                    padding-right: 10px;

                    @media #{$lg-layout} {
                        padding-right: 5px;
                    }

                    @media #{$md-layout} {
                        padding-right: 5px;
                    }

                    @media #{$sm-layout} {
                        padding-right: 5px;
                    }

                    &.address-info {
                        color: #757589;
                    }
                }

                a {
                    color: #757589;
                }

                br {
                    display: none;
                }
            }

            .axil-newsletter {
                margin-top: 30px;

                @media #{$sm-layout} {
                    margin-top: 8px;
                }
            }
        }
    }
}

.axil-footer-style-1 {
    .bg_image--2 {
        background-image: url(../images/bg/bg-image-6.png);
        background-repeat: no-repeat;
        background-size: inherit;
        background-position: top right;
    }
}


.footer-top {
    &.ax-section-gap {
        padding-top: 130px;
        padding-bottom: 80px;

        @media #{$md-layout} {
            padding-top: 60px;
            padding-bottom: 50px;
        }

        @media #{$sm-layout} {
            padding-top: 60px;
            padding-bottom: 30px;
        }
    }
}








/*--------------------------
    Newsletter Form  
----------------------------*/
.newsletter-form {
    display: flex;
    align-items: flex-end;

    @media #{$md-layout} {
        display: block;
    }

    @media #{$sm-layout} {
        display: block;
    }

    input {
        width: 330px;
        padding-bottom: 8px;

        @media #{$laptop-device} {
            width: 250px;
        }

        @media #{$lg-layout} {
            width: 250px;
        }
    }

    .axil-button {
        margin-left: 30px;

        @media #{$large-mobile} {
            margin-left: 0;
            margin-top: 20px;
        }

        @media #{$lg-layout} {
            margin-left: 14px;
        }

        @media #{$md-layout} {
            margin-left: 0;
            margin-top: 20px;
        }

        @media #{$sm-layout} {
            margin-left: 0;
            margin-top: 20px;
        }

    }
}


/*======================
    Copyright Area 
========================*/

.copyright-default {
    .quick-contact {
        @media #{$sm-layout} {
            margin-top: 12px;
        }

        ul {
            margin: 0 -15px;
            display: flex;
            flex-wrap: wrap;
            li {
                margin: 0 15px;

                a {
                    color: $body-color;
                    @extend %fontWeight400;
                    text-decoration: none;
                    font-size: 15px;
                    line-height: 24px;
                    display: inline-block;

                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }

    p {
        font-size: 15px;
        line-height: 24px;
    }
}


/*------------------------------
    Footer Style Three 
--------------------------------*/

.footer-style-3 .footer-top.ax-section-gap .col-xl-2:last-child .footer-widget-item {
    position: relative;
    margin-left: 33px;
}

.footer-style-3 .footer-top.ax-section-gap .col-xl-2:nth-child(3) .footer-widget-item {
    position: relative;
    margin-left: 25px;
}

@media #{$lg-layout} {
    .footer-style-3 .footer-top.ax-section-gap .col-xl-2:last-child .footer-widget-item {
        margin-left: 30px;
    }

    .footer-style-3 .footer-top.ax-section-gap .col-xl-2:nth-child(3) .footer-widget-item {
        margin-left: 30px;
    }
}

@media #{$md-layout} {
    .footer-style-3 .footer-top.ax-section-gap .col-xl-2:last-child .footer-widget-item {
        margin-left: 0;
    }

    .footer-style-3 .footer-top.ax-section-gap .col-xl-2:nth-child(3) .footer-widget-item {
        margin-left: 0;
    }
}

@media #{$sm-layout} {
    .footer-style-3 .footer-top.ax-section-gap .col-xl-2:last-child .footer-widget-item {
        margin-left: 0;
    }

    .footer-style-3 .footer-top.ax-section-gap .col-xl-2:nth-child(3) .footer-widget-item {
        margin-left: 0;
    }
}



/*-------------------------
 Unit Test Fixing  
 ---------------------------*/
.footer-widget-item {
    .footer-widget-item {
        margin-bottom: 63px;
        @media #{$md-layout} {
            margin-bottom: 30px;
        }
        @media #{$sm-layout} {
            margin-bottom: 30px;
        }
    }
}

.footer-widget-item {
    ul {
        list-style: none;
        padding-left: 0;

        ul {
            padding-left: 18px;
        }
    }
}

.axil-footer-style-2 {
    .footer-top {
        margin-bottom: -50px;

        @media #{$md-layout} {
            margin-bottom: -20px;
        }

        @media #{$sm-layout} {
            margin-bottom: -20px;
        }
    }
    
    .axil-basic-thine-line {
        border-top: 0 none;
    }

    &.line-active {
        .axil-basic-thine-line {
            border-top: 1px solid #C7C7D5;
        }
    }    
}



/*------------------------
    Footer Style Two  
--------------------------*/
.axil-footer-style-2 {
    .newsletter-form {
        display: block;
        .axil-button {
            margin-left: 0;
            margin-top: 20px;
        }
    }
    form {
        p {
            br {
                display: none;
            }
        }
        h2 {
            font-size: 40px;
            line-height: 47px;
            margin-top: -10px;
        }
    }
}







/*-------------------------
    Others Code  
---------------------------*/

.page-privacy-policy .privacy-policy-area .section-title .title,
.page-privacy-policy-2 .privacy-policy-area .section-title .title{
    display: inline-block;
    padding-bottom: 16px;
    border-bottom: 3px solid var(--color-primary);
    margin-bottom: 60px;
}
.mc4wp-alert p {
    font-size: 16px;
    margin: 15px 0 !important;
}
.mc4wp-alert.mc4wp-success p {
    color: var(--color-success);
}

.mc4wp-alert.mc4wp-error p,
.mc4wp-alert.mc4wp-notice p {
    color: var(--color-danger);
}

body.blog .post-pagination {
    padding-bottom: 0;
}



/*-----------------------
    Footer Style Two 
-------------------------*/

.axil-footer-style-2 form.mc4wp-form a.axil-button,
.axil-footer-style-2 form.mc4wp-form button.axil-button {
    line-height: 44px;
}
.axil-footer-style-2 form.mc4wp-form a.axil-button.btn-transparent span.button-text,
.axil-footer-style-2 form.mc4wp-form button.axil-button.btn-transparent span.button-text {
    padding-right: 50px;
}
.axil-footer-style-2 form.mc4wp-form p {
    margin-bottom: 24px;
}

.axil-footer-style-2 form.mc4wp-form h2 {
    font-size: 28px;
    line-height: 1.2;
    margin-top: 0;
}

.copyright-default .quick-contact ul li {
    margin: 0 15px;
    display: flex;
}




// New Code 
.footer-widget-item {
    &.widget_rss {
        ul {
            li {
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 10px;
                }
            }
        }
    }
}