/* ----------------------------------------
    Safari 10.1+ (alternate method) 
-------------------------------------------*/

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {

        .axil-service::before,
        .axil-contact-form.contact-form-style-1::after,
        .messonry-button button::before,
        .messonry-button button::after,
        .axil-counterup::before,
        .axil-testimonial .inner::before,
        .axil-blog .content .content-wrap::before,
        #scrollUp::after,
        .axil-blog-details-area .axil-comment-form .inner::before,
        .axil-blog-details-area .axil-comment-form .inner::after,
        .axil-service .inner .icon::before,
        .axil-blog.active .content .content-wrap,
        .breadcrumb-thumbnail-group .thumbnail::before,
        .axil-breadcrumb-area.breadcrumb-style-2 .thumbnail .image-group,
        .axil-address::after,
        .axil-address::before ,
        .axil-slide.slide-style-default .topskew-thumbnail-group .thumbnail::before ,
        .topskew-thumbnail-group .thumbnail::before ,
        .axil-service .inner::before,
        .axil-service .inner::after,
        .axil-blog.active .content .content-wrap::after {
            transform: none;
        }

        .axil-counterup::after,
        .axil-call-to-action.callaction-style-2 .inner::after,
        .axil-working-process .thumbnail .image img,
        .axil-pricing-table.active::before,
        .axil-team-details-wrapper .thumbnail::before ,
        .axil-breadcrumb-area.breadcrumb-style-2 .thumbnail .image-group {
            transform: none;
        }

        .axil-team-area .thumbnail .total-team-button a::after {
            transform: none;
        }

        .axil-testimonial .inner::after,
        .axil-pricing-table.active .axil-pricing-inner::after,
        .contact-form-style-2::after {
            transform: none;
        }

        .axil-contact-form.contact-form-style-1::after,
        .axil-address::before,
        .axil-address::after {
            transform-style: none;
        }

        .axil-case-study .thumbnail a img,
        .axil-blog.active .content .content-wrap,
        .axil-breadcrumb-area.breadcrumb-style-2 .thumbnail .image-group img.image-2,
        .axil-breadcrumb-area.breadcrumb-style-2 .thumbnail .image-group img.image-1,
        .axil-team-details-wrapper .thumbnail img {
            transform: none !important;
        }

        .axil-service .inner::before {
            width: calc(100% + -9px);
        }

        .axil-contact-form.contact-form-style-1::before,
        .messonry-button button::before,
        .axil-counterup::before ,
        .axil-testimonial .inner::before,
        .axil-testimonial .clint-info-wrapper .thumb::before,
        .axil-pricing-table.active .axil-pricing-inner::before,
        .axil-blog .content .content-wrap::before ,
        #scrollUp::before ,
        .contact-form-style-2::before ,
        .axil-address::before {
            display: none;
        }

        .axil-contact-form.contact-form-style-1::after,
        .messonry-button button::after,
        .axil-counterup::after,
        .axil-testimonial .inner::after ,
        .axil-testimonial .clint-info-wrapper .thumb ,
        .axil-pricing-table.active .axil-pricing-inner::after ,
        .axil-blog .content .content-wrap::after,
        #scrollUp::after ,
        .contact-form-style-2::after ,
        .axil-address::after {
            box-shadow: -15px 20px 40px 0 rgba(0, 2, 72, 0.1);
        }






    }
}
