/**
 * Typography
 */

* {
	box-sizing: border-box;
}

html {
	overflow: hidden;
	overflow-y: auto;
}

body {
	overflow: hidden;
	font-size: $body-font-size;
	line-height: $body-line-height;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $primary-font;
	color: $body-color;
	font-weight: 400;
	@media #{$sm-layout} {
		font-size: 16px;
		line-height: 26px;
	}
}


a {
	transition: all 0.4s ease-in-out 0s;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
address,
p,
blockquote,
dd,
menu,
ol,
ul,
table,
hr {
	margin: 0;
	margin-bottom: 15px;
}

a:hover,
a:focus,
a:active {
	outline: none;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	word-break: break-word;
}



dt {
    font-weight: bold;
    margin-bottom: 10px;
}

dd {
    margin: 0 15px 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $primary-font;
	color: $heading-color;
	font-weight: 700;
	margin-bottom: 20px;
	@media #{$md-layout} {
		margin-bottom: 15px;
	}
	@media #{$sm-layout} {
		margin-bottom: 10px;
	}
	a {
		color: inherit;

		&:hover {
			text-decoration: none;
		}
	}
}

h1 {
	font-size: $h1;
	line-height: 68px;
	@media #{$lg-layout} {
		font-size: 48px;
		line-height: 64px;
	}

	@media #{$md-layout} {
		font-size: 44px;
		line-height: 55px;
	}

	@media #{$sm-layout} {
		font-size: 40px;
		line-height: 50px;
	}

	@media #{$large-mobile} {
		font-size: 36px;
		line-height: 45px;
	}
}

.axil-display-1 {
	font-size: $display-1;
	line-height: 90px;
	@extend .axil-bg-color-option;
	@media #{$laptop-device} {
		font-size: 55px;
		line-height: 68px;
	}
	@media #{$lg-layout} {
		font-size: 55px;
		line-height: 68px;
	}
	@media #{$md-layout} {
		font-size: 44px;
		line-height: 55px;
	}
	@media #{$sm-layout} {
		font-size: 40px;
		line-height: 50px;
	}
	@media #{$large-mobile} {
		font-size: 36px !important;
		line-height: 45px !important;
	}
}

h2 {
	font-size: $h2;
	line-height: 62px;
}

h3 {
	font-size: $h3;
	line-height: 46px;
}

h4 {
	font-size: $h4;
	line-height: 32px;
}

h5 {
	font-size: $h5;
	line-height: 26px;
}

h6 {
	font-size: $h6;
	line-height: 22px;
}

@media #{$md-layout} {
	h1 {
		font-size: $h1 - 4;
	}

	h2 {
		font-size: $h2 - 2;
	}

	h3 {
		font-size: $h3 - 2;
	}
}

@media #{$sm-layout} {
	h1 {
		font-size: 40px;
		line-height: 50px;
		br {
			display: none;
		}
	}

	h2 {
		font-size: 30px;
		line-height: 40px;
		br {
			display: none;
		}
	}

	h3 {
		font-size: 24px;
		line-height: 36px;
		br {
			display: none;
		}
	}
	h4 {
		font-size: 20px;
		line-height: 29px;
		br {
			display: none;
		}
	}
}


p {
	font-size: 18px;
	line-height: 28px;
	color: $body-color;
	@media #{$sm-layout} {
		font-size: 16px;
		line-height: 26px;
	}
	
	&.subtitle-1 {
		font-size: 15px;
		line-height: 24px;
		@media #{$sm-layout} {
			font-size: 16px;
			line-height: 26px;
		}
	}

	&.subtitle-2 {
		font-size: 20px;
		line-height: 32px;
		@media #{$sm-layout} {
			font-size: 18px;
    		line-height: 28px;
		}
		@media #{$md-layout} {
			font-size: 18px;
			line-height: 28px;
			br {
				display: none;
			}
		}
		@media #{$sm-layout} {
			font-size: 16px;
			line-height: 26px;
			br {
				display: none;
			}
		}
	}
	
	&.subtitle-3 {
		color: $darker-color;
		font-size: 24px;
		line-height: 38px;
		@media #{$lg-layout} {
			font-size: 20px;
			line-height: 32px;
		}
		@media #{$sm-layout} {
			font-size: 16px;
    		line-height: 26px;
		}
		@media #{$md-layout} {
			font-size: 20px;
    		line-height: 34px;
		}
	}
	&:last-child {
		margin: 0;
	}
}


caption {
    caption-side: top;
}


/* List Style */
ul,
ol {
	padding-left: 18px;
}

ul {
	&.list-secondary {
		li {
			font-size: 15px;
			position: relative;

			&::before {
				font-family: "Font Awesome 5 Pro";
				content: "\f105";
				position: absolute;
				top: 0;
				left: -18px;
				font-size: 14px;
				line-height: inherit;
				color: inherit;
				font-weight: 900;
			}

			&::after {
				display: none;
			}

			a {
				color: inherit;
			}

			&:hover {
				a {
					color: var(--color-primary);
					text-decoration: none;
				}

				&::before {
					color: var(--color-primary);
				}
			}
		}
	}

	&.bullet-list {
		li {
			position: relative;
    		padding-left: 20px;
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				width: 6px;
				height: 6px;
				display: block;
				border-radius: 50%;
				background: #757589;
				transform: translateY(-50%);
			}
		}
	}
	
	li {

	}
}

ol {
	padding-left: 18px;
	margin-bottom: 30px;
	li {
		font-size: 18px;
		line-height: 28px;
		font-weight: 400;
		color: $body-color;
		margin-top: 10px;
		margin-bottom: 10px;
		a {
			color: $heading-color;
			text-decoration: none;
		}
	}
}



a {
	outline: none;
	transition: all .5s;
	color: $heading-color;
	text-decoration: none;
	display: inline-block;
	&:hover {
		color: var(--color-primary);
	}
}

kbd {
    background: $darkest-color;
}



input,
button,
select,
textarea {
	background: transparent;
	border: 1px solid $border-color;
	transition: all 0.4s ease-out 0s;
	color: $dark-color;

	&:focus,
	&:active {
		outline: none;
		border-color: var(--color-primary);
	}
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 2;
    margin: 0 0 20px;
    width: 100%;
    font-size: 18px;
}

b,
strong {
    font-weight: bold;
}

cite,
.wp-block-pullquote cite ,
.wp-block-pullquote.is-style-solid-color blockquote cite,
.wp-block-quote cite {
	color: #000248;
}

 var {
	font-family: "Courier 10 Pitch", Courier, monospace;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

input,
select,
textarea {
	width: 100%;
	font-size: 14px;
}

input,
select {
	height: 40px;
	padding: 0 15px;
}

